/* --------------------------------------
@Author: ThemeMascot
@URL: http://themeforest.net/user/ThemeMascot

COLOR1: #444b50
COLOR2: #5b5f50
----------------------------------------- */
/*
 * background: theme-color
 * -----------------------------------------------
*/
.post .entry-meta.meta-absolute {
  background-color: rgba(68, 75, 80, 0.9) !important;
}
.tab-slider .nav.nav-pills a:hover,
.tab-slider .nav.nav-pills a.active,
.custom-nav-tabs > li > a:hover,
.widget .tags a:hover,
.progress-item .progress-bar,
.small-title .title::after,
.drop-caps.colored-square p:first-child:first-letter,
.drop-caps.colored-rounded p:first-child:first-letter,
.working-process.theme-colored a,
.widget.dark .tags a:hover,
.blog-posts .post .entry-content .post-date.right,
.horizontal-tab-centered .nav-pills > li > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a,
.horizontal-tab-centered .nav-pills > li.active > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a:focus,
.owl-theme.dot-theme-colored .owl-controls .owl-dot span,
.portfolio-filter a.active,
.portfolio-filter a:hover,
.pagination.theme-colored li.active a,
.section-title .both-side-line::after,
.section-title .both-side-line::before,
.section-title .top-side-line::after,
.section-title .left-side-line::before,
.section-title .right-side-line::before,
.info .team-info,
.product .tag-sale,
.owl-theme .owl-dots .owl-dot.active span,
.blog-posts .post.style1 .entry-header .entry-date.entry-date-absolute,
.title-dots span {
  background: #444b50;
}
.cd-timeline-simple .cd-timeline-block .cd-timeline-img {
  background: #444b50 !important;
}
.ui-state-highlight {
  background: #444b50 !important;
  color: #fff !important;
}
/*
 * text: theme-color
 * -----------------------------------------------
*/
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a,
.menuzord-menu > li > .megamenu .megamenu-row .post a:hover,
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a i,
.menuzord-menu > li > .megamenu .megamenu-row .post a:hover i,
.blog-posts .post .entry-meta li i,
.widget .twitter-feed li::after,
.widget .address li i,
.icon-box.box-style1.practice-style3 i,
.icon-box.services-style1:hover .heading,
.horizontal-contact-widget .widget::before,
.small-title i,
.drop-caps.text-colored p:first-child:first-letter,
.schedule-box:hover .schedule-details .title a,
.widget.dark .nav-tabs li.active a,
.pagination.theme-colored li a,
.pager.theme-colored a,
.widget .post-title a:hover,
.donation-form .form-group label {
  color: #444b50;
}
.star-rating span::before {
  color: #444b50 !important;
}
/*
 * border: theme-color
 * -----------------------------------------------
*/
.line-bottom:after,
.widget .line-bottom:after,
.widget .line-bottom:after,
.pager.theme-colored a,
.owl-carousel.owl-nav-top .owl-controls .owl-nav .owl-prev,
.owl-carousel.owl-nav-top .owl-controls .owl-nav .owl-next {
  border: 1px solid #444b50;
}
.owl-theme .owl-dots .owl-dot span {
  border-color: #444b50;
}
.icon-box.box-style1.practice-style3:hover .icon-wrapper::after {
  border-color: #444b50 transparent transparent;
}
.section-title.title-border {
  border-left: 4px solid #444b50;
}
/* border-top-color */
.cssload-tri {
  border-top: 27px solid #444b50;
}
/* border-right-color */
.border-right-red {
  border-right: 1px solid #444b50;
}
.section-title.title-border.title-right {
  border-right: 4px solid #444b50;
}
/* border-bottom-color */
.border-bottom {
  border-bottom: 1px solid #444b50;
}
.cssload-tri.cssload-invert {
  border-bottom: 27px solid #444b50;
}
/* box-shadow */
/* Dropdown Search Form */
.dropdown-search-form-content .dropdown-search-form .input-group {
  border-color: #444b50;
}
.dropdown-search-form-content .dropdown-search-form button[type="submit"] {
  background: #444b50;
}
.dropdown-search-form-content .dropdown-search-form button[type="submit"] i {
  color: #fff;
}
/* Modern Header */
.modern-header.modern-header-theme-colored .header-nav .header-nav-wrapper:not(.scroll-to-fixed-fixed) nav {
  background: #444b50;
}
.modern-header.modern-header-theme-colored .header-nav .header-nav-wrapper.scroll-to-fixed-fixed {
  background: #444b50;
}
/* -------- Text Theme Color ---------- */
.text-theme-colored {
  color: #444b50 !important;
}
.text-hover-theme-colored:hover {
  color: #444b50 !important;
}
ul.list.theme-colored li:before,
ul.list.theme-colored.angle-double-right li:before,
ul.list.theme-colored.angle-right li:before,
ul.list.theme-colored.check-circle li:before,
ul.list.theme-colored.check li:before,
.list-icon.theme-colored li i {
  color: #444b50;
}
/* -------- border-theme-color ---------- */
.border-theme-colored {
  border-color: #444b50 !important;
}
.border-1px-theme-colored {
  border: 1px solid #444b50;
}
.border-7px-theme-colored {
  border: 7px solid #444b50;
}
/* border-left-color */
blockquote.theme-colored {
  border-left: 3px solid #444b50;
}
blockquote.bg-theme-colored {
  border-left: 3px solid #2d3134;
  color: #fff;
}
blockquote.bg-theme-colored footer {
  color: #eeeeee;
}
blockquote.gray.bg-theme-colored {
  background-color: #eeeeee !important;
  border-left: 3px solid #444b50;
  color: #444b50;
}
blockquote.gray.bg-theme-colored footer {
  color: #777777;
}
/* -------- bg-theme-color ---------- */
.bg-theme-colored {
  background-color: #444b50 !important;
}
.bg-hover-theme-colored:hover {
  background: #444b50 !important;
  border-color: #444b50 !important;
  color: #fff !important;
}
.bg-hover-theme-colored:hover h1,
.bg-hover-theme-colored:hover h2,
.bg-hover-theme-colored:hover h3,
.bg-hover-theme-colored:hover h4,
.bg-hover-theme-colored:hover h5,
.bg-hover-theme-colored:hover h6,
.bg-hover-theme-colored:hover p,
.bg-hover-theme-colored:hover a,
.bg-hover-theme-colored:hover i {
  color: #fff !important;
}
.list-icon.theme-colored.square li i,
.list-icon.theme-colored.rounded li i {
  background: #444b50;
}
/* -------- lighter/darker bg Color ---------- */
.bg-theme-colored-lighter2 {
  background-color: #495056 !important;
}
.bg-theme-colored-lighter3 {
  background-color: #4b5358 !important;
}
.bg-theme-colored-lighter4 {
  background-color: #4d555b !important;
}
.bg-theme-colored-lighter5 {
  background-color: #50585e !important;
}
.bg-theme-colored-lighter6 {
  background-color: #525b61 !important;
}
.bg-theme-colored-lighter7 {
  background-color: #545d63 !important;
}
.bg-theme-colored-lighter8 {
  background-color: #576066 !important;
}
.bg-theme-colored-lighter9 {
  background-color: #596269 !important;
}
.bg-theme-colored-darker2 {
  background-color: #3f464a !important;
}
.bg-theme-colored-darker3 {
  background-color: #3d4348 !important;
}
.bg-theme-colored-darker4 {
  background-color: #3b4145 !important;
}
.bg-theme-colored-darker5 {
  background-color: #383e42 !important;
}
.bg-theme-colored-darker6 {
  background-color: #363b3f !important;
}
.bg-theme-colored-darker7 {
  background-color: #34393d !important;
}
.bg-theme-colored-darker8 {
  background-color: #31363a !important;
}
.bg-theme-colored-darker9 {
  background-color: #2f3437 !important;
}
/* -------- Transparent bg Color ---------- */
.bg-theme-colored-transparent-9 {
  background-color: rgba(68, 75, 80, 0.9) !important;
}
.bg-theme-colored-transparent-8 {
  background-color: rgba(68, 75, 80, 0.8) !important;
}
.bg-theme-colored-transparent-7 {
  background-color: rgba(68, 75, 80, 0.7) !important;
}
.bg-theme-colored-transparent-6 {
  background-color: rgba(68, 75, 80, 0.6) !important;
}
.bg-theme-colored-transparent-5 {
  background-color: rgba(68, 75, 80, 0.5) !important;
}
.bg-theme-colored-transparent-4 {
  background-color: rgba(68, 75, 80, 0.4) !important;
}
.bg-theme-colored-transparent-3 {
  background-color: rgba(68, 75, 80, 0.3) !important;
}
.bg-theme-colored-transparent-2 {
  background-color: rgba(68, 75, 80, 0.2) !important;
}
.bg-theme-colored-transparent-1 {
  background-color: rgba(68, 75, 80, 0.1) !important;
}
.bg-theme-colored-transparent {
  background-color: rgba(68, 75, 80, 0.5) !important;
}
/* -------- layer overlay Color ---------- */
.layer-overlay {
  /* .overlay-theme-colored */
}
.layer-overlay.overlay-theme-colored::before {
  background-color: rgba(68, 75, 80, 0.8);
}
.layer-overlay.overlay-theme-colored-1::before {
  background-color: rgba(68, 75, 80, 0.1);
}
.layer-overlay.overlay-theme-colored-2::before {
  background-color: rgba(68, 75, 80, 0.2);
}
.layer-overlay.overlay-theme-colored-3::before {
  background-color: rgba(68, 75, 80, 0.3);
}
.layer-overlay.overlay-theme-colored-4::before {
  background-color: rgba(68, 75, 80, 0.4);
}
.layer-overlay.overlay-theme-colored-5::before {
  background-color: rgba(68, 75, 80, 0.5);
}
.layer-overlay.overlay-theme-colored-6::before {
  background-color: rgba(68, 75, 80, 0.6);
}
.layer-overlay.overlay-theme-colored-7::before {
  background-color: rgba(68, 75, 80, 0.7);
}
.layer-overlay.overlay-theme-colored-8::before {
  background-color: rgba(68, 75, 80, 0.8);
}
.layer-overlay.overlay-theme-colored-9::before {
  background-color: rgba(68, 75, 80, 0.9);
}
/*
 * btn-default: theme-color
 * -----------------------------------------------
*/
.btn-default.btn-theme-colored {
  color: #444b50;
  background-color: #fff;
  border-color: #444b50;
}
.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.focus {
  color: #444b50;
  background-color: #e6e6e6;
  border-color: #090a0b;
}
.btn-default.btn-theme-colored:hover {
  color: #444b50;
  background-color: #e6e6e6;
  border-color: #282c2f;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  color: #444b50;
  background-color: #e6e6e6;
  border-color: #282c2f;
}
.btn-default.btn-theme-colored:active:hover,
.btn-default.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active:focus,
.btn-default.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored:active.focus,
.btn-default.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored.focus {
  color: #444b50;
  background-color: #d4d4d4;
  border-color: #090a0b;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  background-image: none;
}
.btn-default.btn-theme-colored.disabled:hover,
.btn-default.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored.disabled:focus,
.btn-default.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.disabled.focus,
.btn-default.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-default.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #444b50;
}
.btn-default.btn-theme-colored .badge {
  color: #fff;
  background-color: #444b50;
}
.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored:focus {
  background-color: #444b50;
  border-color: #444b50;
  color: #fff;
}
/*
 * btn-border
 * -----------------------------------------------
*/
.btn-border.btn-theme-colored {
  color: #444b50;
  background-color: #fff;
  border-color: #444b50;
}
.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.focus {
  color: #444b50;
  background-color: #e6e6e6;
  border-color: #090a0b;
}
.btn-border.btn-theme-colored:hover {
  color: #444b50;
  background-color: #e6e6e6;
  border-color: #282c2f;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  color: #444b50;
  background-color: #e6e6e6;
  border-color: #282c2f;
}
.btn-border.btn-theme-colored:active:hover,
.btn-border.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active:focus,
.btn-border.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored:active.focus,
.btn-border.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored.focus {
  color: #444b50;
  background-color: #d4d4d4;
  border-color: #090a0b;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  background-image: none;
}
.btn-border.btn-theme-colored.disabled:hover,
.btn-border.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored.disabled:focus,
.btn-border.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.disabled.focus,
.btn-border.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-border.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #444b50;
}
.btn-border.btn-theme-colored .badge {
  color: #fff;
  background-color: #444b50;
}
.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored:focus {
  background-color: #2d3134;
  border-color: #2d3134;
  color: #fff;
}
/*
 * btn-dark
 * -----------------------------------------------
*/
.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #444b50;
  border-color: #444b50;
}
.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #2d3134;
  border-color: #090a0b;
}
.btn-dark.btn-theme-colored:hover {
  color: #fff;
  background-color: #2d3134;
  border-color: #282c2f;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #2d3134;
  border-color: #282c2f;
}
.btn-dark.btn-theme-colored:active:hover,
.btn-dark.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored:active:focus,
.btn-dark.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored:active.focus,
.btn-dark.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #1c1f21;
  border-color: #090a0b;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  background-image: none;
}
.btn-dark.btn-theme-colored.disabled:hover,
.btn-dark.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored.disabled:focus,
.btn-dark.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.disabled.focus,
.btn-dark.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-dark.btn-theme-colored.focus {
  background-color: #444b50;
  border-color: #444b50;
}
.btn-dark.btn-theme-colored .badge {
  color: #444b50;
  background-color: #fff;
}
/*
 * btn-gray
 * -----------------------------------------------
*/
.btn-gray.btn-theme-colored {
  color: #444b50;
  background-color: #5b656c;
  border-color: #5b656c;
}
.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.focus {
  color: #444b50;
  background-color: #444b50;
  border-color: #212427;
}
.btn-gray.btn-theme-colored:hover {
  color: #444b50;
  background-color: #444b50;
  border-color: #3f464a;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  color: #444b50;
  background-color: #444b50;
  border-color: #3f464a;
}
.btn-gray.btn-theme-colored:active:hover,
.btn-gray.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored:active:focus,
.btn-gray.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored:active.focus,
.btn-gray.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored.focus {
  color: #444b50;
  background-color: #34393d;
  border-color: #212427;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  background-image: none;
}
.btn-gray.btn-theme-colored.disabled:hover,
.btn-gray.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored.disabled:focus,
.btn-gray.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.disabled.focus,
.btn-gray.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-gray.btn-theme-colored.focus {
  background-color: #5b656c;
  border-color: #5b656c;
}
.btn-gray.btn-theme-colored .badge {
  color: #5b656c;
  background-color: #444b50;
}
/*
 * btn-primary: theme-color
 * -----------------------------------------------
*/
.btn-theme-colored {
  color: #fff;
  background-color: #444b50;
  border-color: #444b50;
}
.btn-theme-colored:focus,
.btn-theme-colored.focus {
  color: #fff;
  background-color: #2d3134;
  border-color: #090a0b;
}
.btn-theme-colored:hover {
  color: #fff;
  background-color: #2d3134;
  border-color: #282c2f;
}
.btn-theme-colored:active,
.btn-theme-colored.active,
.open > .dropdown-toggle.btn-theme-colored {
  color: #fff;
  background-color: #2d3134;
  border-color: #282c2f;
}
.btn-theme-colored:active:hover,
.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-theme-colored:hover,
.btn-theme-colored:active:focus,
.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-theme-colored:focus,
.btn-theme-colored:active.focus,
.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-theme-colored.focus {
  color: #fff;
  background-color: #1c1f21;
  border-color: #090a0b;
}
.btn-theme-colored:active,
.btn-theme-colored.active,
.open > .dropdown-toggle.btn-theme-colored {
  background-image: none;
}
.btn-theme-colored.disabled:hover,
.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-theme-colored:hover,
.btn-theme-colored.disabled:focus,
.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-theme-colored:focus,
.btn-theme-colored.disabled.focus,
.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-theme-colored.focus {
  background-color: #444b50;
  border-color: #444b50;
}
.btn-theme-colored .badge {
  color: #444b50;
  background-color: #fff;
}
/*
 * btn-transparent
 * -----------------------------------------------
*/
.btn-transparent {
  background-color: transparent;
  color: #fff;
}
.btn-transparent.btn-theme-colored {
  background-color: transparent;
}
.btn-transparent.btn-dark {
  background-color: #111111;
  border-color: #111111;
}
.btn-transparent.btn-dark:hover {
  background-color: #000000;
  border-color: #000000;
}
.btn-transparent.btn-dark.btn-theme-colored {
  background-color: #444b50;
  border-color: #444b50;
}
.btn-transparent.btn-dark.btn-theme-colored:hover {
  background-color: #2d3134;
  border-color: #2d3134;
}
.btn-transparent.btn-border {
  background-color: transparent;
  border-color: #eeeeee;
}
.btn-transparent.btn-border:hover {
  background-color: #eeeeee;
  color: #000;
}
.btn-transparent.btn-border.btn-theme-colored {
  background-color: transparent;
  border-color: #444b50;
}
.btn-transparent.btn-border.btn-theme-colored:hover {
  background-color: #444b50;
  color: #fff;
}
.btn-gray.btn-transparent {
  background-color: #d3d3d3;
  color: #333333;
}
.btn-gray.btn-transparent:hover {
  background-color: #ececec;
  color: #1a1a1a;
}
.btn-gray.btn-transparent.btn-theme-colored {
  background-color: #5b656c;
  color: #fff;
}
.btn-gray.btn-transparent.btn-theme-colored:hover {
  background-color: #2d3134;
  color: #2d3134;
}
.btn-hover-theme-colored:hover {
  background-color: #444b50;
  border-color: #444b50;
  color: #fff;
}
/*
 * Shortcode: styled-icons Theme Colored
 * -----------------------------------------------
*/
.icon-theme-colored a {
  color: #444b50;
}
.icon-theme-colored.icon-bordered a {
  border-color: #444b50;
}
.icon-theme-colored.icon-bordered a:hover {
  background-color: #444b50;
  color: #fff;
}
.icon-theme-colored.icon-dark a {
  background-color: #444b50;
  color: #fff;
}
.icon-theme-colored.icon-dark a:hover {
  background-color: #2d3134;
}
.icon-theme-colored.icon-dark.icon-bordered a {
  border-color: #444b50;
  color: #444b50;
}
.icon-theme-colored.icon-dark.icon-bordered a:hover {
  background-color: #444b50;
  border-color: #444b50;
  color: #fff;
}
.icon-theme-colored.icon-gray a {
  color: #444b50;
}
.icon-theme-colored.icon-gray a:hover {
  color: #2d3134;
}
.icon-theme-colored.icon-gray.icon-bordered a {
  color: #444b50;
}
.icon-theme-colored.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #444b50;
}
.icon-hover-theme-colored a:hover {
  background-color: #444b50;
  border-color: #444b50;
  color: #fff;
}
.styled-icons.icon-hover-theme-colored a:hover {
  background-color: #444b50;
  border-color: #444b50;
  color: #fff;
}
/*
 * Shortcode: Icon Boxes Theme Colored
 * -----------------------------------------------
*/
.icon-box.iconbox-theme-colored .icon {
  color: #444b50;
}
.icon-box.iconbox-theme-colored .icon.icon-border-effect::after {
  box-shadow: 0 0 0 3px #444b50;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered {
  border-color: #444b50;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered:hover {
  background-color: #444b50;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray:hover {
  background-color: #444b50;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered {
  border-color: #eeeeee;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered:hover {
  background-color: #444b50;
  border-color: #444b50;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark {
  background-color: #444b50;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark:hover {
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered {
  background-color: transparent;
  border-color: #444b50;
  color: #444b50;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered:hover {
  background-color: #444b50;
  border-color: #444b50;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white {
  background-color: #fff;
  color: #444b50;
}
.icon-box.iconbox-theme-colored .icon.icon-white:hover {
  background-color: #444b50;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered {
  background-color: transparent;
  border-color: #444b50;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered:hover {
  background-color: #444b50;
  border-color: #444b50;
  color: #fff;
}
.icon-box.iconbox-theme-colored.iconbox-border {
  border-color: #444b50;
}
/*
 *  accordion.less
 * -----------------------------------------------
*/
.accordion-theme-colored .panel-default > .panel-heading {
  background-color: #444b50;
}
.accordion-theme-colored .panel-default > .panel-heading .panel-title > a,
.accordion-theme-colored .panel-default > .panel-heading .panel-title > a:hover,
.accordion-theme-colored .panel-default > .panel-heading .panel-title > a:focus {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored .panel-heading .panel-title a.active:before {
  background: #444b50;
}
.panel-group.accordion-classic-theme-colored-filled .panel-heading {
  background: #444b50;
}
.panel-group.accordion-classic-theme-colored-filled .panel-heading .panel-title a {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored-filled .panel-heading .panel-title a:before {
  background: #3d4348;
  color: #fff;
}
.panel-group.accordion-classic-theme-colored-filled .panel-heading .panel-title a.active:before {
  background: #26292c;
}
.panel-group.accordion-classic-theme-colored12 .panel-heading {
  background: #444b50;
}
.panel-group.accordion-classic-theme-colored12 .panel-heading .panel-title a {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored12 .panel-heading .panel-title a:before {
  background: #383e42;
  color: #fff;
}
.panel-group.accordion-classic-theme-colored12 .panel-heading .panel-title a.active:before {
  background: #5b5f50;
}
.panel-group.accordion-icon-filled.accordion-icon-left.accordion-icon-filled-theme-colored .panel-heading .panel-title a:before {
  background-color: #444b50;
}
.panel-group.accordion-icon-filled.accordion-icon-right.accordion-icon-filled-theme-colored .panel-heading .panel-title a:after {
  background-color: #444b50;
}
/* Modern Header */
.modern-header.modern-header-theme-colored2 .header-nav .header-nav-wrapper:not(.scroll-to-fixed-fixed) nav {
  background: #5b5f50;
}
.modern-header.modern-header-theme-colored2 .header-nav .header-nav-wrapper.scroll-to-fixed-fixed {
  background: #5b5f50;
}
/* -------- Text Theme Color ---------- */
.text-theme-colored2 {
  color: #5b5f50 !important;
}
.text-hover-theme-colored2:hover {
  color: #5b5f50 !important;
}
ul.list.theme-colored2 li:before,
ul.list.theme-colored2.angle-double-right li:before,
ul.list.theme-colored2.angle-right li:before,
ul.list.theme-colored2.check-circle li:before,
ul.list.theme-colored2.check li:before,
.list-icon.theme-colored2 li i {
  color: #5b5f50;
}
/* -------- border-theme-color ---------- */
.border-theme-colored2 {
  border-color: #5b5f50 !important;
}
.border-1px-theme-colored2 {
  border: 1px solid #5b5f50;
}
/* border-left-color */
blockquote.theme-colored2 {
  border-left: 3px solid #5b5f50;
}
blockquote.bg-theme-colored2 {
  border-left: 3px solid #404339;
  color: #fff;
}
blockquote.bg-theme-colored2 footer {
  color: #eeeeee;
}
blockquote.gray.bg-theme-colored2 {
  background-color: #eeeeee !important;
  border-left: 3px solid #5b5f50;
  color: #5b5f50;
}
blockquote.gray.bg-theme-colored2 footer {
  color: #777777;
}
/* -------- bg-theme-color ---------- */
.bg-theme-colored2 {
  background-color: #5b5f50 !important;
}
.bg-hover-theme-colored2:hover {
  background: #5b5f50 !important;
  border-color: #5b5f50 !important;
  color: #fff !important;
}
.bg-hover-theme-colored2:hover h1,
.bg-hover-theme-colored2:hover h2,
.bg-hover-theme-colored2:hover h3,
.bg-hover-theme-colored2:hover h4,
.bg-hover-theme-colored2:hover h5,
.bg-hover-theme-colored2:hover h6,
.bg-hover-theme-colored2:hover p,
.bg-hover-theme-colored2:hover a,
.bg-hover-theme-colored2:hover i {
  color: #fff !important;
}
.list-icon.theme-colored2.square li i,
.list-icon.theme-colored2.rounded li i {
  background: #5b5f50;
}
/* -------- lighter/darker bg Color ---------- */
.bg-theme-colored2-lighter2 {
  background-color: #606555 !important;
}
.bg-theme-colored2-lighter3 {
  background-color: #636757 !important;
}
.bg-theme-colored2-lighter4 {
  background-color: #666a59 !important;
}
.bg-theme-colored2-lighter5 {
  background-color: #686d5c !important;
}
.bg-theme-colored2-lighter6 {
  background-color: #6b705e !important;
}
.bg-theme-colored2-lighter7 {
  background-color: #6e7260 !important;
}
.bg-theme-colored2-lighter8 {
  background-color: #707563 !important;
}
.bg-theme-colored2-lighter9 {
  background-color: #737865 !important;
}
.bg-theme-colored2-darker2 {
  background-color: #56594b !important;
}
.bg-theme-colored2-darker3 {
  background-color: #535749 !important;
}
.bg-theme-colored2-darker4 {
  background-color: #505447 !important;
}
.bg-theme-colored2-darker5 {
  background-color: #4e5144 !important;
}
.bg-theme-colored2-darker6 {
  background-color: #4b4e42 !important;
}
.bg-theme-colored2-darker7 {
  background-color: #484c40 !important;
}
.bg-theme-colored2-darker8 {
  background-color: #46493d !important;
}
.bg-theme-colored2-darker9 {
  background-color: #43463b !important;
}
/* -------- Transparent bg Color ---------- */
.bg-theme-colored2-transparent-9 {
  background-color: rgba(91, 95, 80, 0.9) !important;
}
.bg-theme-colored2-transparent-8 {
  background-color: rgba(91, 95, 80, 0.8) !important;
}
.bg-theme-colored2-transparent-7 {
  background-color: rgba(91, 95, 80, 0.7) !important;
}
.bg-theme-colored2-transparent-6 {
  background-color: rgba(91, 95, 80, 0.6) !important;
}
.bg-theme-colored2-transparent-5 {
  background-color: rgba(91, 95, 80, 0.5) !important;
}
.bg-theme-colored2-transparent-4 {
  background-color: rgba(91, 95, 80, 0.4) !important;
}
.bg-theme-colored2-transparent-3 {
  background-color: rgba(91, 95, 80, 0.3) !important;
}
.bg-theme-colored2-transparent-2 {
  background-color: rgba(91, 95, 80, 0.2) !important;
}
.bg-theme-colored2-transparent-1 {
  background-color: rgba(91, 95, 80, 0.1) !important;
}
.bg-theme-colored2-transparent {
  background-color: rgba(91, 95, 80, 0.5) !important;
}
/* -------- layer overlay Color ---------- */
.layer-overlay {
  /* .overlay-theme-colored2 */
}
.layer-overlay.overlay-theme-colored2::before {
  background-color: rgba(91, 95, 80, 0.8) !important;
}
.layer-overlay.overlay-theme-colored2-1::before {
  background-color: rgba(91, 95, 80, 0.1);
}
.layer-overlay.overlay-theme-colored2-2::before {
  background-color: rgba(91, 95, 80, 0.2);
}
.layer-overlay.overlay-theme-colored2-3::before {
  background-color: rgba(91, 95, 80, 0.3);
}
.layer-overlay.overlay-theme-colored2-4::before {
  background-color: rgba(91, 95, 80, 0.4);
}
.layer-overlay.overlay-theme-colored2-5::before {
  background-color: rgba(91, 95, 80, 0.5);
}
.layer-overlay.overlay-theme-colored2-6::before {
  background-color: rgba(91, 95, 80, 0.6);
}
.layer-overlay.overlay-theme-colored2-7::before {
  background-color: rgba(91, 95, 80, 0.7);
}
.layer-overlay.overlay-theme-colored2-8::before {
  background-color: rgba(91, 95, 80, 0.8);
}
.layer-overlay.overlay-theme-colored2-9::before {
  background-color: rgba(91, 95, 80, 0.9);
}
/*
 * btn-default: theme-color
 * -----------------------------------------------
*/
.btn-default.btn-theme-colored2 {
  color: #5b5f50;
  background-color: #fff;
  border-color: #5b5f50;
}
.btn-default.btn-theme-colored2:focus,
.btn-default.btn-theme-colored2.focus {
  color: #5b5f50;
  background-color: #e6e6e6;
  border-color: #191a16;
}
.btn-default.btn-theme-colored2:hover {
  color: #5b5f50;
  background-color: #e6e6e6;
  border-color: #3b3e34;
}
.btn-default.btn-theme-colored2:active,
.btn-default.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored2 {
  color: #5b5f50;
  background-color: #e6e6e6;
  border-color: #3b3e34;
}
.btn-default.btn-theme-colored2:active:hover,
.btn-default.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-default.btn-theme-colored2:hover,
.btn-default.btn-theme-colored2:active:focus,
.btn-default.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored2:focus,
.btn-default.btn-theme-colored2:active.focus,
.btn-default.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored2.focus {
  color: #5b5f50;
  background-color: #d4d4d4;
  border-color: #191a16;
}
.btn-default.btn-theme-colored2:active,
.btn-default.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored2 {
  background-image: none;
}
.btn-default.btn-theme-colored2.disabled:hover,
.btn-default.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-default.btn-theme-colored2:hover,
.btn-default.btn-theme-colored2.disabled:focus,
.btn-default.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-default.btn-theme-colored2:focus,
.btn-default.btn-theme-colored2.disabled.focus,
.btn-default.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-default.btn-theme-colored2.focus {
  background-color: #fff;
  border-color: #5b5f50;
}
.btn-default.btn-theme-colored2 .badge {
  color: #fff;
  background-color: #5b5f50;
}
.btn-default.btn-theme-colored2:hover,
.btn-default.btn-theme-colored2:active,
.btn-default.btn-theme-colored2:focus {
  background-color: #5b5f50;
  border-color: #5b5f50;
  color: #fff;
}
/*
 * btn-border
 * -----------------------------------------------
*/
.btn-border.btn-theme-colored2 {
  color: #5b5f50;
  background-color: #fff;
  border-color: #5b5f50;
}
.btn-border.btn-theme-colored2:focus,
.btn-border.btn-theme-colored2.focus {
  color: #5b5f50;
  background-color: #e6e6e6;
  border-color: #191a16;
}
.btn-border.btn-theme-colored2:hover {
  color: #5b5f50;
  background-color: #e6e6e6;
  border-color: #3b3e34;
}
.btn-border.btn-theme-colored2:active,
.btn-border.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored2 {
  color: #5b5f50;
  background-color: #e6e6e6;
  border-color: #3b3e34;
}
.btn-border.btn-theme-colored2:active:hover,
.btn-border.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-border.btn-theme-colored2:hover,
.btn-border.btn-theme-colored2:active:focus,
.btn-border.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored2:focus,
.btn-border.btn-theme-colored2:active.focus,
.btn-border.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored2.focus {
  color: #5b5f50;
  background-color: #d4d4d4;
  border-color: #191a16;
}
.btn-border.btn-theme-colored2:active,
.btn-border.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored2 {
  background-image: none;
}
.btn-border.btn-theme-colored2.disabled:hover,
.btn-border.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-border.btn-theme-colored2:hover,
.btn-border.btn-theme-colored2.disabled:focus,
.btn-border.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-border.btn-theme-colored2:focus,
.btn-border.btn-theme-colored2.disabled.focus,
.btn-border.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-border.btn-theme-colored2.focus {
  background-color: #fff;
  border-color: #5b5f50;
}
.btn-border.btn-theme-colored2 .badge {
  color: #fff;
  background-color: #5b5f50;
}
.btn-border.btn-theme-colored2:hover,
.btn-border.btn-theme-colored2:active,
.btn-border.btn-theme-colored2:focus {
  background-color: #404339;
  border-color: #404339;
  color: #fff;
}
/*
 * btn-dark
 * -----------------------------------------------
*/
.btn-dark.btn-theme-colored2 {
  color: #fff;
  background-color: #5b5f50;
  border-color: #5b5f50;
}
.btn-dark.btn-theme-colored2:focus,
.btn-dark.btn-theme-colored2.focus {
  color: #fff;
  background-color: #404339;
  border-color: #191a16;
}
.btn-dark.btn-theme-colored2:hover {
  color: #fff;
  background-color: #404339;
  border-color: #3b3e34;
}
.btn-dark.btn-theme-colored2:active,
.btn-dark.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2 {
  color: #fff;
  background-color: #404339;
  border-color: #3b3e34;
}
.btn-dark.btn-theme-colored2:active:hover,
.btn-dark.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2:hover,
.btn-dark.btn-theme-colored2:active:focus,
.btn-dark.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2:focus,
.btn-dark.btn-theme-colored2:active.focus,
.btn-dark.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2.focus {
  color: #fff;
  background-color: #2e3028;
  border-color: #191a16;
}
.btn-dark.btn-theme-colored2:active,
.btn-dark.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2 {
  background-image: none;
}
.btn-dark.btn-theme-colored2.disabled:hover,
.btn-dark.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-dark.btn-theme-colored2:hover,
.btn-dark.btn-theme-colored2.disabled:focus,
.btn-dark.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-dark.btn-theme-colored2:focus,
.btn-dark.btn-theme-colored2.disabled.focus,
.btn-dark.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-dark.btn-theme-colored2.focus {
  background-color: #5b5f50;
  border-color: #5b5f50;
}
.btn-dark.btn-theme-colored2 .badge {
  color: #5b5f50;
  background-color: #fff;
}
/*
 * btn-gray
 * -----------------------------------------------
*/
.btn-gray.btn-theme-colored2 {
  color: #5b5f50;
  background-color: #767b67;
  border-color: #767b67;
}
.btn-gray.btn-theme-colored2:focus,
.btn-gray.btn-theme-colored2.focus {
  color: #5b5f50;
  background-color: #5b5f50;
  border-color: #33352d;
}
.btn-gray.btn-theme-colored2:hover {
  color: #5b5f50;
  background-color: #5b5f50;
  border-color: #56594b;
}
.btn-gray.btn-theme-colored2:active,
.btn-gray.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2 {
  color: #5b5f50;
  background-color: #5b5f50;
  border-color: #56594b;
}
.btn-gray.btn-theme-colored2:active:hover,
.btn-gray.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2:hover,
.btn-gray.btn-theme-colored2:active:focus,
.btn-gray.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2:focus,
.btn-gray.btn-theme-colored2:active.focus,
.btn-gray.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2.focus {
  color: #5b5f50;
  background-color: #484c40;
  border-color: #33352d;
}
.btn-gray.btn-theme-colored2:active,
.btn-gray.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2 {
  background-image: none;
}
.btn-gray.btn-theme-colored2.disabled:hover,
.btn-gray.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-gray.btn-theme-colored2:hover,
.btn-gray.btn-theme-colored2.disabled:focus,
.btn-gray.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-gray.btn-theme-colored2:focus,
.btn-gray.btn-theme-colored2.disabled.focus,
.btn-gray.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-gray.btn-theme-colored2.focus {
  background-color: #767b67;
  border-color: #767b67;
}
.btn-gray.btn-theme-colored2 .badge {
  color: #767b67;
  background-color: #5b5f50;
}
/*
 * btn-primary: theme-color
 * -----------------------------------------------
*/
.btn-theme-colored2 {
  color: #fff;
  background-color: #5b5f50;
  border-color: #5b5f50;
}
.btn-theme-colored2:focus,
.btn-theme-colored2.focus {
  color: #fff;
  background-color: #404339;
  border-color: #191a16;
}
.btn-theme-colored2:hover {
  color: #fff;
  background-color: #404339;
  border-color: #3b3e34;
}
.btn-theme-colored2:active,
.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-theme-colored2 {
  color: #fff;
  background-color: #404339;
  border-color: #3b3e34;
}
.btn-theme-colored2:active:hover,
.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-theme-colored2:hover,
.btn-theme-colored2:active:focus,
.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-theme-colored2:focus,
.btn-theme-colored2:active.focus,
.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-theme-colored2.focus {
  color: #fff;
  background-color: #2e3028;
  border-color: #191a16;
}
.btn-theme-colored2:active,
.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-theme-colored2 {
  background-image: none;
}
.btn-theme-colored2.disabled:hover,
.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-theme-colored2:hover,
.btn-theme-colored2.disabled:focus,
.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-theme-colored2:focus,
.btn-theme-colored2.disabled.focus,
.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-theme-colored2.focus {
  background-color: #5b5f50;
  border-color: #5b5f50;
}
.btn-theme-colored2 .badge {
  color: #5b5f50;
  background-color: #fff;
}
.btn-hover-theme-colored2:hover {
  background-color: #5b5f50;
  border-color: #5b5f50;
  color: #fff;
}
/*
 * Shortcode: styled-icons Theme Colored
 * -----------------------------------------------
*/
.icon-theme-colored2 a {
  color: #5b5f50;
}
.icon-theme-colored2.icon-bordered a {
  border-color: #5b5f50;
}
.icon-theme-colored2.icon-bordered a:hover {
  background-color: #5b5f50;
  color: #fff;
}
.icon-theme-colored2.icon-dark a {
  background-color: #5b5f50;
  color: #fff;
}
.icon-theme-colored2.icon-dark a:hover {
  background-color: #404339;
}
.icon-theme-colored2.icon-dark.icon-bordered a {
  border-color: #5b5f50;
  color: #5b5f50;
}
.icon-theme-colored2.icon-dark.icon-bordered a:hover {
  background-color: #5b5f50;
  border-color: #5b5f50;
  color: #fff;
}
.icon-theme-colored2.icon-gray a {
  color: #5b5f50;
}
.icon-theme-colored2.icon-gray a:hover {
  color: #404339;
}
.icon-theme-colored2.icon-gray.icon-bordered a {
  color: #5b5f50;
}
.icon-theme-colored2.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #5b5f50;
}
.icon-hover-theme-colored2 a:hover {
  background-color: #5b5f50;
  border-color: #5b5f50;
  color: #fff;
}
.styled-icons.icon-hover-theme-colored2 a:hover {
  background-color: #5b5f50;
  border-color: #5b5f50;
  color: #fff;
}
/*
 * Shortcode: Icon Boxes Theme Colored
 * -----------------------------------------------
*/
.icon-box.iconbox-theme-colored2 .icon {
  color: #5b5f50;
}
.icon-box.iconbox-theme-colored2 .icon.icon-border-effect::after {
  box-shadow: 0 0 0 3px #5b5f50;
}
.icon-box.iconbox-theme-colored2 .icon.icon-bordered {
  border-color: #5b5f50;
}
.icon-box.iconbox-theme-colored2 .icon.icon-bordered:hover {
  background-color: #5b5f50;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-gray:hover {
  background-color: #5b5f50;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-gray.icon-bordered {
  border-color: #eeeeee;
}
.icon-box.iconbox-theme-colored2 .icon.icon-gray.icon-bordered:hover {
  background-color: #5b5f50;
  border-color: #5b5f50;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-dark {
  background-color: #5b5f50;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-dark:hover {
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-dark.icon-bordered {
  background-color: transparent;
  border-color: #5b5f50;
  color: #5b5f50;
}
.icon-box.iconbox-theme-colored2 .icon.icon-dark.icon-bordered:hover {
  background-color: #5b5f50;
  border-color: #5b5f50;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-white {
  background-color: #fff;
  color: #5b5f50;
}
.icon-box.iconbox-theme-colored2 .icon.icon-white:hover {
  background-color: #5b5f50;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-white.icon-bordered {
  background-color: transparent;
  border-color: #5b5f50;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-white.icon-bordered:hover {
  background-color: #5b5f50;
  border-color: #5b5f50;
  color: #fff;
}
.icon-box.iconbox-theme-colored2.iconbox-border {
  border-color: #5b5f50;
}
/*
 *  accordion.less
 * -----------------------------------------------
*/
.accordion-theme-colored2 .panel-default > .panel-heading {
  background-color: #5b5f50;
}
.accordion-theme-colored2 .panel-default > .panel-heading .panel-title > a,
.accordion-theme-colored2 .panel-default > .panel-heading .panel-title > a:hover,
.accordion-theme-colored2 .panel-default > .panel-heading .panel-title > a:focus {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored2 .panel-heading .panel-title a.active:before {
  background: #5b5f50;
}
.panel-group.accordion-classic-theme-colored2-filled .panel-heading {
  background: #5b5f50;
}
.panel-group.accordion-classic-theme-colored2-filled .panel-heading .panel-title a {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored2-filled .panel-heading .panel-title a:before {
  background: #535749;
  color: #fff;
}
.panel-group.accordion-classic-theme-colored2-filled .panel-heading .panel-title a.active:before {
  background: #393b32;
}
.panel-group.accordion-classic-theme-colored21 .panel-heading {
  background: #5b5f50;
}
.panel-group.accordion-classic-theme-colored21 .panel-heading .panel-title a {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored21 .panel-heading .panel-title a:before {
  background: #4e5144;
  color: #fff;
}
.panel-group.accordion-classic-theme-colored21 .panel-heading .panel-title a.active:before {
  background: #444b50;
}
.panel-group.accordion-icon-filled.accordion-icon-left.accordion-icon-filled-theme-colored2 .panel-heading .panel-title a:before {
  background-color: #5b5f50;
}
.panel-group.accordion-icon-filled.accordion-icon-right.accordion-icon-filled-theme-colored2 .panel-heading .panel-title a:after {
  background-color: #5b5f50;
}
/*
 *  common.less
 * -----------------------------------------------
*/
/*
 * custom-section-color-set.less
 * -----------------------------------------------
*/
/*
 * custom-section-color1.less
 * -----------------------------------------------
*/
.horizontal-tab-centered .nav-pills > li a i {
  color: #444b50;
}
.pricing-table {
  border: 10px solid #444b50;
}
.pricing-icon {
  border: 7px solid #444b50;
}
.service-box-hover:hover {
  background: #444b50;
}
.service-box-hover .icon-hov i {
  color: #444b50;
}
.service-box-hover .icon-hov:hover i {
  color: #444b50;
}
/*
 * custom-section-color2.less
 * -----------------------------------------------
*/
/*
 *  Gradients BG+BGTransparent Color
 * -----------------------------------------------
*/
/* Gradient BG Colors */
.bg-theme-colored-gradient {
  background-color: #2d3134;
  background: -webkit-gradient(linear, left top, left bottom, from(#2d3134), to(#737f87));
  background: -webkit-linear-gradient(top, #2d3134, #737f87);
  background: -moz-linear-gradient(top, #2d3134, #737f87);
  background: -ms-linear-gradient(top, #2d3134, #737f87);
  background: -o-linear-gradient(top, #2d3134, #737f87);
}
.bg-theme-colored-gradient-horizontal {
  background: #2d3134;
  background: -webkit-gradient(linear, left top, right top, from(#2d3134), to(#737f87));
  background: -webkit-linear-gradient(left, #2d3134, #737f87);
  background: -moz-linear-gradient(left, #2d3134, #737f87);
  background: -ms-linear-gradient(left, #2d3134, #737f87);
  background: -o-linear-gradient(left, #2d3134, #737f87);
}
.bg-theme-colored2-gradient {
  background-color: #404339;
  background: -webkit-gradient(linear, left top, left bottom, from(#404339), to(#8f9481));
  background: -webkit-linear-gradient(top, #404339, #8f9481);
  background: -moz-linear-gradient(top, #404339, #8f9481);
  background: -ms-linear-gradient(top, #404339, #8f9481);
  background: -o-linear-gradient(top, #404339, #8f9481);
}
.bg-theme-colored2-gradient-horizontal {
  background: #404339;
  background: -webkit-gradient(linear, left top, right top, from(#404339), to(#8f9481));
  background: -webkit-linear-gradient(left, #404339, #8f9481);
  background: -moz-linear-gradient(left, #404339, #8f9481);
  background: -ms-linear-gradient(left, #404339, #8f9481);
  background: -o-linear-gradient(left, #404339, #8f9481);
}
.bg-theme-colored12-gradient {
  background-color: #444b50;
  background: -webkit-gradient(linear, left top, left bottom, from(#444b50), to(#5b5f50));
  background: -webkit-linear-gradient(top, #444b50, #5b5f50);
  background: -moz-linear-gradient(top, #444b50, #5b5f50);
  background: -ms-linear-gradient(top, #444b50, #5b5f50);
  background: -o-linear-gradient(top, #444b50, #5b5f50);
}
.bg-theme-colored12-gradient-horizontal {
  background: #444b50;
  background: -webkit-gradient(linear, left top, right top, from(#444b50), to(#5b5f50));
  background: -webkit-linear-gradient(left, #444b50, #5b5f50);
  background: -moz-linear-gradient(left, #444b50, #5b5f50);
  background: -ms-linear-gradient(left, #444b50, #5b5f50);
  background: -o-linear-gradient(left, #444b50, #5b5f50);
}
.bg-theme-colored21-gradient {
  background-color: #5b5f50;
  background: -webkit-gradient(linear, left top, left bottom, from(#5b5f50), to(#444b50));
  background: -webkit-linear-gradient(top, #5b5f50, #444b50);
  background: -moz-linear-gradient(top, #5b5f50, #444b50);
  background: -ms-linear-gradient(top, #5b5f50, #444b50);
  background: -o-linear-gradient(top, #5b5f50, #444b50);
}
.bg-theme-colored21-gradient-horizontal {
  background: #5b5f50;
  background: -webkit-gradient(linear, left top, right top, from(#5b5f50), to(#444b50));
  background: -webkit-linear-gradient(left, #5b5f50, #444b50);
  background: -moz-linear-gradient(left, #5b5f50, #444b50);
  background: -ms-linear-gradient(left, #5b5f50, #444b50);
  background: -o-linear-gradient(left, #5b5f50, #444b50);
}
/* -------- layer overlay gradient Color1 ---------- */
.layer-overlay.overlay-theme-colored-gradient::before {
  background: rgba(68, 75, 80, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(68, 75, 80, 0.9)), to(rgba(115, 127, 135, 0.9)));
  background: -webkit-linear-gradient(left, rgba(68, 75, 80, 0.9), rgba(115, 127, 135, 0.9));
  background: -moz-linear-gradient(left, rgba(68, 75, 80, 0.9), rgba(115, 127, 135, 0.9));
  background: -ms-linear-gradient(left, rgba(68, 75, 80, 0.9), rgba(115, 127, 135, 0.9));
  background: -o-linear-gradient(left, rgba(68, 75, 80, 0.9), rgba(115, 127, 135, 0.9));
}
.layer-overlay.overlay-theme-colored-gradient-1::before {
  background: rgba(68, 75, 80, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(rgba(68, 75, 80, 0.1)), to(rgba(115, 127, 135, 0.1)));
  background: -webkit-linear-gradient(left, rgba(68, 75, 80, 0.1), rgba(115, 127, 135, 0.1));
  background: -moz-linear-gradient(left, rgba(68, 75, 80, 0.1), rgba(115, 127, 135, 0.1));
  background: -ms-linear-gradient(left, rgba(68, 75, 80, 0.1), rgba(115, 127, 135, 0.1));
  background: -o-linear-gradient(left, rgba(68, 75, 80, 0.1), rgba(115, 127, 135, 0.1));
}
.layer-overlay.overlay-theme-colored-gradient-2::before {
  background: rgba(68, 75, 80, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(rgba(68, 75, 80, 0.2)), to(rgba(115, 127, 135, 0.2)));
  background: -webkit-linear-gradient(left, rgba(68, 75, 80, 0.2), rgba(115, 127, 135, 0.2));
  background: -moz-linear-gradient(left, rgba(68, 75, 80, 0.2), rgba(115, 127, 135, 0.2));
  background: -ms-linear-gradient(left, rgba(68, 75, 80, 0.2), rgba(115, 127, 135, 0.2));
  background: -o-linear-gradient(left, rgba(68, 75, 80, 0.2), rgba(115, 127, 135, 0.2));
}
.layer-overlay.overlay-theme-colored-gradient-3::before {
  background: rgba(68, 75, 80, 0.3);
  background: -webkit-gradient(linear, left top, right top, from(rgba(68, 75, 80, 0.3)), to(rgba(115, 127, 135, 0.3)));
  background: -webkit-linear-gradient(left, rgba(68, 75, 80, 0.3), rgba(115, 127, 135, 0.3));
  background: -moz-linear-gradient(left, rgba(68, 75, 80, 0.3), rgba(115, 127, 135, 0.3));
  background: -ms-linear-gradient(left, rgba(68, 75, 80, 0.3), rgba(115, 127, 135, 0.3));
  background: -o-linear-gradient(left, rgba(68, 75, 80, 0.3), rgba(115, 127, 135, 0.3));
}
.layer-overlay.overlay-theme-colored-gradient-4::before {
  background: rgba(68, 75, 80, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(68, 75, 80, 0.4)), to(rgba(115, 127, 135, 0.4)));
  background: -webkit-linear-gradient(left, rgba(68, 75, 80, 0.4), rgba(115, 127, 135, 0.4));
  background: -moz-linear-gradient(left, rgba(68, 75, 80, 0.4), rgba(115, 127, 135, 0.4));
  background: -ms-linear-gradient(left, rgba(68, 75, 80, 0.4), rgba(115, 127, 135, 0.4));
  background: -o-linear-gradient(left, rgba(68, 75, 80, 0.4), rgba(115, 127, 135, 0.4));
}
.layer-overlay.overlay-theme-colored-gradient-5::before {
  background: rgba(68, 75, 80, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(rgba(68, 75, 80, 0.5)), to(rgba(115, 127, 135, 0.5)));
  background: -webkit-linear-gradient(left, rgba(68, 75, 80, 0.5), rgba(115, 127, 135, 0.5));
  background: -moz-linear-gradient(left, rgba(68, 75, 80, 0.5), rgba(115, 127, 135, 0.5));
  background: -ms-linear-gradient(left, rgba(68, 75, 80, 0.5), rgba(115, 127, 135, 0.5));
  background: -o-linear-gradient(left, rgba(68, 75, 80, 0.5), rgba(115, 127, 135, 0.5));
}
.layer-overlay.overlay-theme-colored-gradient-6::before {
  background: rgba(68, 75, 80, 0.6);
  background: -webkit-gradient(linear, left top, right top, from(rgba(68, 75, 80, 0.6)), to(rgba(115, 127, 135, 0.6)));
  background: -webkit-linear-gradient(left, rgba(68, 75, 80, 0.6), rgba(115, 127, 135, 0.6));
  background: -moz-linear-gradient(left, rgba(68, 75, 80, 0.6), rgba(115, 127, 135, 0.6));
  background: -ms-linear-gradient(left, rgba(68, 75, 80, 0.6), rgba(115, 127, 135, 0.6));
  background: -o-linear-gradient(left, rgba(68, 75, 80, 0.6), rgba(115, 127, 135, 0.6));
}
.layer-overlay.overlay-theme-colored-gradient-7::before {
  background: rgba(68, 75, 80, 0.7);
  background: -webkit-gradient(linear, left top, right top, from(rgba(68, 75, 80, 0.7)), to(rgba(115, 127, 135, 0.7)));
  background: -webkit-linear-gradient(left, rgba(68, 75, 80, 0.7), rgba(115, 127, 135, 0.7));
  background: -moz-linear-gradient(left, rgba(68, 75, 80, 0.7), rgba(115, 127, 135, 0.7));
  background: -ms-linear-gradient(left, rgba(68, 75, 80, 0.7), rgba(115, 127, 135, 0.7));
  background: -o-linear-gradient(left, rgba(68, 75, 80, 0.7), rgba(115, 127, 135, 0.7));
}
.layer-overlay.overlay-theme-colored-gradient-8::before {
  background: rgba(68, 75, 80, 0.8);
  background: -webkit-gradient(linear, left top, right top, from(rgba(68, 75, 80, 0.8)), to(rgba(115, 127, 135, 0.8)));
  background: -webkit-linear-gradient(left, rgba(68, 75, 80, 0.8), rgba(115, 127, 135, 0.8));
  background: -moz-linear-gradient(left, rgba(68, 75, 80, 0.8), rgba(115, 127, 135, 0.8));
  background: -ms-linear-gradient(left, rgba(68, 75, 80, 0.8), rgba(115, 127, 135, 0.8));
  background: -o-linear-gradient(left, rgba(68, 75, 80, 0.8), rgba(115, 127, 135, 0.8));
}
.layer-overlay.overlay-theme-colored-gradient-9::before {
  background: rgba(68, 75, 80, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(68, 75, 80, 0.9)), to(rgba(115, 127, 135, 0.9)));
  background: -webkit-linear-gradient(left, rgba(68, 75, 80, 0.9), rgba(115, 127, 135, 0.9));
  background: -moz-linear-gradient(left, rgba(68, 75, 80, 0.9), rgba(115, 127, 135, 0.9));
  background: -ms-linear-gradient(left, rgba(68, 75, 80, 0.9), rgba(115, 127, 135, 0.9));
  background: -o-linear-gradient(left, rgba(68, 75, 80, 0.9), rgba(115, 127, 135, 0.9));
}
/* -------- layer overlay gradient Color2 ---------- */
.layer-overlay.overlay-theme-colored2-gradient::before {
  background: rgba(91, 95, 80, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(91, 95, 80, 0.9)), to(rgba(143, 148, 129, 0.9)));
  background: -webkit-linear-gradient(left, rgba(91, 95, 80, 0.9), rgba(143, 148, 129, 0.9));
  background: -moz-linear-gradient(left, rgba(91, 95, 80, 0.9), rgba(143, 148, 129, 0.9));
  background: -ms-linear-gradient(left, rgba(91, 95, 80, 0.9), rgba(143, 148, 129, 0.9));
  background: -o-linear-gradient(left, rgba(91, 95, 80, 0.9), rgba(143, 148, 129, 0.9));
}
.layer-overlay.overlay-theme-colored2-gradient-1::before {
  background: rgba(91, 95, 80, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(rgba(91, 95, 80, 0.1)), to(rgba(143, 148, 129, 0.1)));
  background: -webkit-linear-gradient(left, rgba(91, 95, 80, 0.1), rgba(143, 148, 129, 0.1));
  background: -moz-linear-gradient(left, rgba(91, 95, 80, 0.1), rgba(143, 148, 129, 0.1));
  background: -ms-linear-gradient(left, rgba(91, 95, 80, 0.1), rgba(143, 148, 129, 0.1));
  background: -o-linear-gradient(left, rgba(91, 95, 80, 0.1), rgba(143, 148, 129, 0.1));
}
.layer-overlay.overlay-theme-colored2-gradient-2::before {
  background: rgba(91, 95, 80, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(rgba(91, 95, 80, 0.2)), to(rgba(143, 148, 129, 0.2)));
  background: -webkit-linear-gradient(left, rgba(91, 95, 80, 0.2), rgba(143, 148, 129, 0.2));
  background: -moz-linear-gradient(left, rgba(91, 95, 80, 0.2), rgba(143, 148, 129, 0.2));
  background: -ms-linear-gradient(left, rgba(91, 95, 80, 0.2), rgba(143, 148, 129, 0.2));
  background: -o-linear-gradient(left, rgba(91, 95, 80, 0.2), rgba(143, 148, 129, 0.2));
}
.layer-overlay.overlay-theme-colored2-gradient-3::before {
  background: rgba(91, 95, 80, 0.3);
  background: -webkit-gradient(linear, left top, right top, from(rgba(91, 95, 80, 0.3)), to(rgba(143, 148, 129, 0.3)));
  background: -webkit-linear-gradient(left, rgba(91, 95, 80, 0.3), rgba(143, 148, 129, 0.3));
  background: -moz-linear-gradient(left, rgba(91, 95, 80, 0.3), rgba(143, 148, 129, 0.3));
  background: -ms-linear-gradient(left, rgba(91, 95, 80, 0.3), rgba(143, 148, 129, 0.3));
  background: -o-linear-gradient(left, rgba(91, 95, 80, 0.3), rgba(143, 148, 129, 0.3));
}
.layer-overlay.overlay-theme-colored2-gradient-4::before {
  background: rgba(91, 95, 80, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(91, 95, 80, 0.4)), to(rgba(143, 148, 129, 0.4)));
  background: -webkit-linear-gradient(left, rgba(91, 95, 80, 0.4), rgba(143, 148, 129, 0.4));
  background: -moz-linear-gradient(left, rgba(91, 95, 80, 0.4), rgba(143, 148, 129, 0.4));
  background: -ms-linear-gradient(left, rgba(91, 95, 80, 0.4), rgba(143, 148, 129, 0.4));
  background: -o-linear-gradient(left, rgba(91, 95, 80, 0.4), rgba(143, 148, 129, 0.4));
}
.layer-overlay.overlay-theme-colored2-gradient-5::before {
  background: rgba(91, 95, 80, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(rgba(91, 95, 80, 0.5)), to(rgba(143, 148, 129, 0.5)));
  background: -webkit-linear-gradient(left, rgba(91, 95, 80, 0.5), rgba(143, 148, 129, 0.5));
  background: -moz-linear-gradient(left, rgba(91, 95, 80, 0.5), rgba(143, 148, 129, 0.5));
  background: -ms-linear-gradient(left, rgba(91, 95, 80, 0.5), rgba(143, 148, 129, 0.5));
  background: -o-linear-gradient(left, rgba(91, 95, 80, 0.5), rgba(143, 148, 129, 0.5));
}
.layer-overlay.overlay-theme-colored2-gradient-6::before {
  background: rgba(91, 95, 80, 0.6);
  background: -webkit-gradient(linear, left top, right top, from(rgba(91, 95, 80, 0.6)), to(rgba(143, 148, 129, 0.6)));
  background: -webkit-linear-gradient(left, rgba(91, 95, 80, 0.6), rgba(143, 148, 129, 0.6));
  background: -moz-linear-gradient(left, rgba(91, 95, 80, 0.6), rgba(143, 148, 129, 0.6));
  background: -ms-linear-gradient(left, rgba(91, 95, 80, 0.6), rgba(143, 148, 129, 0.6));
  background: -o-linear-gradient(left, rgba(91, 95, 80, 0.6), rgba(143, 148, 129, 0.6));
}
.layer-overlay.overlay-theme-colored2-gradient-7::before {
  background: rgba(91, 95, 80, 0.7);
  background: -webkit-gradient(linear, left top, right top, from(rgba(91, 95, 80, 0.7)), to(rgba(143, 148, 129, 0.7)));
  background: -webkit-linear-gradient(left, rgba(91, 95, 80, 0.7), rgba(143, 148, 129, 0.7));
  background: -moz-linear-gradient(left, rgba(91, 95, 80, 0.7), rgba(143, 148, 129, 0.7));
  background: -ms-linear-gradient(left, rgba(91, 95, 80, 0.7), rgba(143, 148, 129, 0.7));
  background: -o-linear-gradient(left, rgba(91, 95, 80, 0.7), rgba(143, 148, 129, 0.7));
}
.layer-overlay.overlay-theme-colored2-gradient-8::before {
  background: rgba(91, 95, 80, 0.8);
  background: -webkit-gradient(linear, left top, right top, from(rgba(91, 95, 80, 0.8)), to(rgba(143, 148, 129, 0.8)));
  background: -webkit-linear-gradient(left, rgba(91, 95, 80, 0.8), rgba(143, 148, 129, 0.8));
  background: -moz-linear-gradient(left, rgba(91, 95, 80, 0.8), rgba(143, 148, 129, 0.8));
  background: -ms-linear-gradient(left, rgba(91, 95, 80, 0.8), rgba(143, 148, 129, 0.8));
  background: -o-linear-gradient(left, rgba(91, 95, 80, 0.8), rgba(143, 148, 129, 0.8));
}
.layer-overlay.overlay-theme-colored2-gradient-9::before {
  background: rgba(91, 95, 80, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(91, 95, 80, 0.9)), to(rgba(143, 148, 129, 0.9)));
  background: -webkit-linear-gradient(left, rgba(91, 95, 80, 0.9), rgba(143, 148, 129, 0.9));
  background: -moz-linear-gradient(left, rgba(91, 95, 80, 0.9), rgba(143, 148, 129, 0.9));
  background: -ms-linear-gradient(left, rgba(91, 95, 80, 0.9), rgba(143, 148, 129, 0.9));
  background: -o-linear-gradient(left, rgba(91, 95, 80, 0.9), rgba(143, 148, 129, 0.9));
}
/* -------- layer overlay gradient Color Combined 12 ---------- */
.layer-overlay.overlay-theme-colored12-gradient::before {
  background: rgba(68, 75, 80, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(68, 75, 80, 0.9)), to(rgba(91, 95, 80, 0.9)));
  background: -webkit-linear-gradient(left, rgba(68, 75, 80, 0.9), rgba(91, 95, 80, 0.9));
  background: -moz-linear-gradient(left, rgba(68, 75, 80, 0.9), rgba(91, 95, 80, 0.9));
  background: -ms-linear-gradient(left, rgba(68, 75, 80, 0.9), rgba(91, 95, 80, 0.9));
  background: -o-linear-gradient(left, rgba(68, 75, 80, 0.9), rgba(91, 95, 80, 0.9));
}
.layer-overlay.overlay-theme-colored12-gradient-1::before {
  background: rgba(68, 75, 80, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(rgba(68, 75, 80, 0.1)), to(rgba(91, 95, 80, 0.1)));
  background: -webkit-linear-gradient(left, rgba(68, 75, 80, 0.1), rgba(91, 95, 80, 0.1));
  background: -moz-linear-gradient(left, rgba(68, 75, 80, 0.1), rgba(91, 95, 80, 0.1));
  background: -ms-linear-gradient(left, rgba(68, 75, 80, 0.1), rgba(91, 95, 80, 0.1));
  background: -o-linear-gradient(left, rgba(68, 75, 80, 0.1), rgba(91, 95, 80, 0.1));
}
.layer-overlay.overlay-theme-colored12-gradient-2::before {
  background: rgba(68, 75, 80, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(rgba(68, 75, 80, 0.2)), to(rgba(91, 95, 80, 0.2)));
  background: -webkit-linear-gradient(left, rgba(68, 75, 80, 0.2), rgba(91, 95, 80, 0.2));
  background: -moz-linear-gradient(left, rgba(68, 75, 80, 0.2), rgba(91, 95, 80, 0.2));
  background: -ms-linear-gradient(left, rgba(68, 75, 80, 0.2), rgba(91, 95, 80, 0.2));
  background: -o-linear-gradient(left, rgba(68, 75, 80, 0.2), rgba(91, 95, 80, 0.2));
}
.layer-overlay.overlay-theme-colored12-gradient-3::before {
  background: rgba(68, 75, 80, 0.3);
  background: -webkit-gradient(linear, left top, right top, from(rgba(68, 75, 80, 0.3)), to(rgba(91, 95, 80, 0.3)));
  background: -webkit-linear-gradient(left, rgba(68, 75, 80, 0.3), rgba(91, 95, 80, 0.3));
  background: -moz-linear-gradient(left, rgba(68, 75, 80, 0.3), rgba(91, 95, 80, 0.3));
  background: -ms-linear-gradient(left, rgba(68, 75, 80, 0.3), rgba(91, 95, 80, 0.3));
  background: -o-linear-gradient(left, rgba(68, 75, 80, 0.3), rgba(91, 95, 80, 0.3));
}
.layer-overlay.overlay-theme-colored12-gradient-4::before {
  background: rgba(68, 75, 80, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(68, 75, 80, 0.4)), to(rgba(91, 95, 80, 0.4)));
  background: -webkit-linear-gradient(left, rgba(68, 75, 80, 0.4), rgba(91, 95, 80, 0.4));
  background: -moz-linear-gradient(left, rgba(68, 75, 80, 0.4), rgba(91, 95, 80, 0.4));
  background: -ms-linear-gradient(left, rgba(68, 75, 80, 0.4), rgba(91, 95, 80, 0.4));
  background: -o-linear-gradient(left, rgba(68, 75, 80, 0.4), rgba(91, 95, 80, 0.4));
}
.layer-overlay.overlay-theme-colored12-gradient-5::before {
  background: rgba(68, 75, 80, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(rgba(68, 75, 80, 0.5)), to(rgba(91, 95, 80, 0.5)));
  background: -webkit-linear-gradient(left, rgba(68, 75, 80, 0.5), rgba(91, 95, 80, 0.5));
  background: -moz-linear-gradient(left, rgba(68, 75, 80, 0.5), rgba(91, 95, 80, 0.5));
  background: -ms-linear-gradient(left, rgba(68, 75, 80, 0.5), rgba(91, 95, 80, 0.5));
  background: -o-linear-gradient(left, rgba(68, 75, 80, 0.5), rgba(91, 95, 80, 0.5));
}
.layer-overlay.overlay-theme-colored12-gradient-6::before {
  background: rgba(68, 75, 80, 0.6);
  background: -webkit-gradient(linear, left top, right top, from(rgba(68, 75, 80, 0.6)), to(rgba(91, 95, 80, 0.6)));
  background: -webkit-linear-gradient(left, rgba(68, 75, 80, 0.6), rgba(91, 95, 80, 0.6));
  background: -moz-linear-gradient(left, rgba(68, 75, 80, 0.6), rgba(91, 95, 80, 0.6));
  background: -ms-linear-gradient(left, rgba(68, 75, 80, 0.6), rgba(91, 95, 80, 0.6));
  background: -o-linear-gradient(left, rgba(68, 75, 80, 0.6), rgba(91, 95, 80, 0.6));
}
.layer-overlay.overlay-theme-colored12-gradient-7::before {
  background: rgba(68, 75, 80, 0.7);
  background: -webkit-gradient(linear, left top, right top, from(rgba(68, 75, 80, 0.7)), to(rgba(91, 95, 80, 0.7)));
  background: -webkit-linear-gradient(left, rgba(68, 75, 80, 0.7), rgba(91, 95, 80, 0.7));
  background: -moz-linear-gradient(left, rgba(68, 75, 80, 0.7), rgba(91, 95, 80, 0.7));
  background: -ms-linear-gradient(left, rgba(68, 75, 80, 0.7), rgba(91, 95, 80, 0.7));
  background: -o-linear-gradient(left, rgba(68, 75, 80, 0.7), rgba(91, 95, 80, 0.7));
}
.layer-overlay.overlay-theme-colored12-gradient-8::before {
  background: rgba(68, 75, 80, 0.8);
  background: -webkit-gradient(linear, left top, right top, from(rgba(68, 75, 80, 0.8)), to(rgba(91, 95, 80, 0.8)));
  background: -webkit-linear-gradient(left, rgba(68, 75, 80, 0.8), rgba(91, 95, 80, 0.8));
  background: -moz-linear-gradient(left, rgba(68, 75, 80, 0.8), rgba(91, 95, 80, 0.8));
  background: -ms-linear-gradient(left, rgba(68, 75, 80, 0.8), rgba(91, 95, 80, 0.8));
  background: -o-linear-gradient(left, rgba(68, 75, 80, 0.8), rgba(91, 95, 80, 0.8));
}
.layer-overlay.overlay-theme-colored12-gradient-9::before {
  background: rgba(68, 75, 80, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(68, 75, 80, 0.9)), to(rgba(91, 95, 80, 0.9)));
  background: -webkit-linear-gradient(left, rgba(68, 75, 80, 0.9), rgba(91, 95, 80, 0.9));
  background: -moz-linear-gradient(left, rgba(68, 75, 80, 0.9), rgba(91, 95, 80, 0.9));
  background: -ms-linear-gradient(left, rgba(68, 75, 80, 0.9), rgba(91, 95, 80, 0.9));
  background: -o-linear-gradient(left, rgba(68, 75, 80, 0.9), rgba(91, 95, 80, 0.9));
}
/* -------- layer overlay gradient Color Combined 21 ---------- */
.layer-overlay.overlay-theme-colored21-gradient::before {
  background: rgba(91, 95, 80, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(91, 95, 80, 0.9)), to(rgba(68, 75, 80, 0.9)));
  background: -webkit-linear-gradient(left, rgba(91, 95, 80, 0.9), rgba(68, 75, 80, 0.9));
  background: -moz-linear-gradient(left, rgba(91, 95, 80, 0.9), rgba(68, 75, 80, 0.9));
  background: -ms-linear-gradient(left, rgba(91, 95, 80, 0.9), rgba(68, 75, 80, 0.9));
  background: -o-linear-gradient(left, rgba(91, 95, 80, 0.9), rgba(68, 75, 80, 0.9));
}
.layer-overlay.overlay-theme-colored21-gradient-1::before {
  background: rgba(91, 95, 80, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(rgba(91, 95, 80, 0.1)), to(rgba(68, 75, 80, 0.1)));
  background: -webkit-linear-gradient(left, rgba(91, 95, 80, 0.1), rgba(68, 75, 80, 0.1));
  background: -moz-linear-gradient(left, rgba(91, 95, 80, 0.1), rgba(68, 75, 80, 0.1));
  background: -ms-linear-gradient(left, rgba(91, 95, 80, 0.1), rgba(68, 75, 80, 0.1));
  background: -o-linear-gradient(left, rgba(91, 95, 80, 0.1), rgba(68, 75, 80, 0.1));
}
.layer-overlay.overlay-theme-colored21-gradient-2::before {
  background: rgba(91, 95, 80, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(rgba(91, 95, 80, 0.2)), to(rgba(68, 75, 80, 0.2)));
  background: -webkit-linear-gradient(left, rgba(91, 95, 80, 0.2), rgba(68, 75, 80, 0.2));
  background: -moz-linear-gradient(left, rgba(91, 95, 80, 0.2), rgba(68, 75, 80, 0.2));
  background: -ms-linear-gradient(left, rgba(91, 95, 80, 0.2), rgba(68, 75, 80, 0.2));
  background: -o-linear-gradient(left, rgba(91, 95, 80, 0.2), rgba(68, 75, 80, 0.2));
}
.layer-overlay.overlay-theme-colored21-gradient-3::before {
  background: rgba(91, 95, 80, 0.3);
  background: -webkit-gradient(linear, left top, right top, from(rgba(91, 95, 80, 0.3)), to(rgba(68, 75, 80, 0.3)));
  background: -webkit-linear-gradient(left, rgba(91, 95, 80, 0.3), rgba(68, 75, 80, 0.3));
  background: -moz-linear-gradient(left, rgba(91, 95, 80, 0.3), rgba(68, 75, 80, 0.3));
  background: -ms-linear-gradient(left, rgba(91, 95, 80, 0.3), rgba(68, 75, 80, 0.3));
  background: -o-linear-gradient(left, rgba(91, 95, 80, 0.3), rgba(68, 75, 80, 0.3));
}
.layer-overlay.overlay-theme-colored21-gradient-4::before {
  background: rgba(91, 95, 80, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(91, 95, 80, 0.4)), to(rgba(68, 75, 80, 0.4)));
  background: -webkit-linear-gradient(left, rgba(91, 95, 80, 0.4), rgba(68, 75, 80, 0.4));
  background: -moz-linear-gradient(left, rgba(91, 95, 80, 0.4), rgba(68, 75, 80, 0.4));
  background: -ms-linear-gradient(left, rgba(91, 95, 80, 0.4), rgba(68, 75, 80, 0.4));
  background: -o-linear-gradient(left, rgba(91, 95, 80, 0.4), rgba(68, 75, 80, 0.4));
}
.layer-overlay.overlay-theme-colored21-gradient-5::before {
  background: rgba(91, 95, 80, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(rgba(91, 95, 80, 0.5)), to(rgba(68, 75, 80, 0.5)));
  background: -webkit-linear-gradient(left, rgba(91, 95, 80, 0.5), rgba(68, 75, 80, 0.5));
  background: -moz-linear-gradient(left, rgba(91, 95, 80, 0.5), rgba(68, 75, 80, 0.5));
  background: -ms-linear-gradient(left, rgba(91, 95, 80, 0.5), rgba(68, 75, 80, 0.5));
  background: -o-linear-gradient(left, rgba(91, 95, 80, 0.5), rgba(68, 75, 80, 0.5));
}
.layer-overlay.overlay-theme-colored21-gradient-6::before {
  background: rgba(91, 95, 80, 0.6);
  background: -webkit-gradient(linear, left top, right top, from(rgba(91, 95, 80, 0.6)), to(rgba(68, 75, 80, 0.6)));
  background: -webkit-linear-gradient(left, rgba(91, 95, 80, 0.6), rgba(68, 75, 80, 0.6));
  background: -moz-linear-gradient(left, rgba(91, 95, 80, 0.6), rgba(68, 75, 80, 0.6));
  background: -ms-linear-gradient(left, rgba(91, 95, 80, 0.6), rgba(68, 75, 80, 0.6));
  background: -o-linear-gradient(left, rgba(91, 95, 80, 0.6), rgba(68, 75, 80, 0.6));
}
.layer-overlay.overlay-theme-colored21-gradient-7::before {
  background: rgba(91, 95, 80, 0.7);
  background: -webkit-gradient(linear, left top, right top, from(rgba(91, 95, 80, 0.7)), to(rgba(68, 75, 80, 0.7)));
  background: -webkit-linear-gradient(left, rgba(91, 95, 80, 0.7), rgba(68, 75, 80, 0.7));
  background: -moz-linear-gradient(left, rgba(91, 95, 80, 0.7), rgba(68, 75, 80, 0.7));
  background: -ms-linear-gradient(left, rgba(91, 95, 80, 0.7), rgba(68, 75, 80, 0.7));
  background: -o-linear-gradient(left, rgba(91, 95, 80, 0.7), rgba(68, 75, 80, 0.7));
}
.layer-overlay.overlay-theme-colored21-gradient-8::before {
  background: rgba(91, 95, 80, 0.8);
  background: -webkit-gradient(linear, left top, right top, from(rgba(91, 95, 80, 0.8)), to(rgba(68, 75, 80, 0.8)));
  background: -webkit-linear-gradient(left, rgba(91, 95, 80, 0.8), rgba(68, 75, 80, 0.8));
  background: -moz-linear-gradient(left, rgba(91, 95, 80, 0.8), rgba(68, 75, 80, 0.8));
  background: -ms-linear-gradient(left, rgba(91, 95, 80, 0.8), rgba(68, 75, 80, 0.8));
  background: -o-linear-gradient(left, rgba(91, 95, 80, 0.8), rgba(68, 75, 80, 0.8));
}
.layer-overlay.overlay-theme-colored21-gradient-9::before {
  background: rgba(91, 95, 80, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(91, 95, 80, 0.9)), to(rgba(68, 75, 80, 0.9)));
  background: -webkit-linear-gradient(left, rgba(91, 95, 80, 0.9), rgba(68, 75, 80, 0.9));
  background: -moz-linear-gradient(left, rgba(91, 95, 80, 0.9), rgba(68, 75, 80, 0.9));
  background: -ms-linear-gradient(left, rgba(91, 95, 80, 0.9), rgba(68, 75, 80, 0.9));
  background: -o-linear-gradient(left, rgba(91, 95, 80, 0.9), rgba(68, 75, 80, 0.9));
}
