/* --------------------------------------
@Author: ThemeMascot
@URL: http://themeforest.net/user/ThemeMascot

COLOR1: #c38370
COLOR2: #a45c40
----------------------------------------- */
/*
 * background: theme-color
 * -----------------------------------------------
*/
.post .entry-meta.meta-absolute {
  background-color: rgba(195, 131, 112, 0.9) !important;
}
.tab-slider .nav.nav-pills a:hover,
.tab-slider .nav.nav-pills a.active,
.custom-nav-tabs > li > a:hover,
.widget .tags a:hover,
.progress-item .progress-bar,
.small-title .title::after,
.drop-caps.colored-square p:first-child:first-letter,
.drop-caps.colored-rounded p:first-child:first-letter,
.working-process.theme-colored a,
.widget.dark .tags a:hover,
.blog-posts .post .entry-content .post-date.right,
.horizontal-tab-centered .nav-pills > li > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a,
.horizontal-tab-centered .nav-pills > li.active > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a:focus,
.owl-theme.dot-theme-colored .owl-controls .owl-dot span,
.portfolio-filter a.active,
.portfolio-filter a:hover,
.pagination.theme-colored li.active a,
.section-title .both-side-line::after,
.section-title .both-side-line::before,
.section-title .top-side-line::after,
.section-title .left-side-line::before,
.section-title .right-side-line::before,
.info .team-info,
.product .tag-sale,
.owl-theme .owl-dots .owl-dot.active span,
.blog-posts .post.style1 .entry-header .entry-date.entry-date-absolute,
.title-dots span {
  background: #c38370;
}
.cd-timeline-simple .cd-timeline-block .cd-timeline-img {
  background: #c38370 !important;
}
.ui-state-highlight {
  background: #c38370 !important;
  color: #fff !important;
}
/*
 * text: theme-color
 * -----------------------------------------------
*/
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a,
.menuzord-menu > li > .megamenu .megamenu-row .post a:hover,
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a i,
.menuzord-menu > li > .megamenu .megamenu-row .post a:hover i,
.blog-posts .post .entry-meta li i,
.widget .twitter-feed li::after,
.widget .address li i,
.icon-box.box-style1.practice-style3 i,
.icon-box.services-style1:hover .heading,
.horizontal-contact-widget .widget::before,
.small-title i,
.drop-caps.text-colored p:first-child:first-letter,
.schedule-box:hover .schedule-details .title a,
.widget.dark .nav-tabs li.active a,
.pagination.theme-colored li a,
.pager.theme-colored a,
.widget .post-title a:hover,
.donation-form .form-group label {
  color: #c38370;
}
.star-rating span::before {
  color: #c38370 !important;
}
/*
 * border: theme-color
 * -----------------------------------------------
*/
.line-bottom:after,
.widget .line-bottom:after,
.widget .line-bottom:after,
.pager.theme-colored a,
.owl-carousel.owl-nav-top .owl-controls .owl-nav .owl-prev,
.owl-carousel.owl-nav-top .owl-controls .owl-nav .owl-next {
  border: 1px solid #c38370;
}
.owl-theme .owl-dots .owl-dot span {
  border-color: #c38370;
}
.icon-box.box-style1.practice-style3:hover .icon-wrapper::after {
  border-color: #c38370 transparent transparent;
}
.section-title.title-border {
  border-left: 4px solid #c38370;
}
/* border-top-color */
.cssload-tri {
  border-top: 27px solid #c38370;
}
/* border-right-color */
.border-right-red {
  border-right: 1px solid #c38370;
}
.section-title.title-border.title-right {
  border-right: 4px solid #c38370;
}
/* border-bottom-color */
.border-bottom {
  border-bottom: 1px solid #c38370;
}
.cssload-tri.cssload-invert {
  border-bottom: 27px solid #c38370;
}
/* box-shadow */
/* Dropdown Search Form */
.dropdown-search-form-content .dropdown-search-form .input-group {
  border-color: #c38370;
}
.dropdown-search-form-content .dropdown-search-form button[type="submit"] {
  background: #c38370;
}
.dropdown-search-form-content .dropdown-search-form button[type="submit"] i {
  color: #fff;
}
/* Modern Header */
.modern-header.modern-header-theme-colored .header-nav .header-nav-wrapper:not(.scroll-to-fixed-fixed) nav {
  background: #c38370;
}
.modern-header.modern-header-theme-colored .header-nav .header-nav-wrapper.scroll-to-fixed-fixed {
  background: #c38370;
}
/* -------- Text Theme Color ---------- */
.text-theme-colored {
  color: #c38370 !important;
}
.text-hover-theme-colored:hover {
  color: #c38370 !important;
}
ul.list.theme-colored li:before,
ul.list.theme-colored.angle-double-right li:before,
ul.list.theme-colored.angle-right li:before,
ul.list.theme-colored.check-circle li:before,
ul.list.theme-colored.check li:before,
.list-icon.theme-colored li i {
  color: #c38370;
}
/* -------- border-theme-color ---------- */
.border-theme-colored {
  border-color: #c38370 !important;
}
.border-1px-theme-colored {
  border: 1px solid #c38370;
}
.border-7px-theme-colored {
  border: 7px solid #c38370;
}
/* border-left-color */
blockquote.theme-colored {
  border-left: 3px solid #c38370;
}
blockquote.bg-theme-colored {
  border-left: 3px solid #b4644c;
  color: #fff;
}
blockquote.bg-theme-colored footer {
  color: #eeeeee;
}
blockquote.gray.bg-theme-colored {
  background-color: #eeeeee !important;
  border-left: 3px solid #c38370;
  color: #c38370;
}
blockquote.gray.bg-theme-colored footer {
  color: #777777;
}
/* -------- bg-theme-color ---------- */
.bg-theme-colored {
  background-color: #c38370 !important;
}
.bg-hover-theme-colored:hover {
  background: #c38370 !important;
  border-color: #c38370 !important;
  color: #fff !important;
}
.bg-hover-theme-colored:hover h1,
.bg-hover-theme-colored:hover h2,
.bg-hover-theme-colored:hover h3,
.bg-hover-theme-colored:hover h4,
.bg-hover-theme-colored:hover h5,
.bg-hover-theme-colored:hover h6,
.bg-hover-theme-colored:hover p,
.bg-hover-theme-colored:hover a,
.bg-hover-theme-colored:hover i {
  color: #fff !important;
}
.list-icon.theme-colored.square li i,
.list-icon.theme-colored.rounded li i {
  background: #c38370;
}
/* -------- lighter/darker bg Color ---------- */
.bg-theme-colored-lighter2 {
  background-color: #c68977 !important;
}
.bg-theme-colored-lighter3 {
  background-color: #c88c7b !important;
}
.bg-theme-colored-lighter4 {
  background-color: #c98f7e !important;
}
.bg-theme-colored-lighter5 {
  background-color: #cb9382 !important;
}
.bg-theme-colored-lighter6 {
  background-color: #cc9686 !important;
}
.bg-theme-colored-lighter7 {
  background-color: #ce9989 !important;
}
.bg-theme-colored-lighter8 {
  background-color: #cf9c8d !important;
}
.bg-theme-colored-lighter9 {
  background-color: #d19f90 !important;
}
.bg-theme-colored-darker2 {
  background-color: #c07d69 !important;
}
.bg-theme-colored-darker3 {
  background-color: #be7a65 !important;
}
.bg-theme-colored-darker4 {
  background-color: #bd7762 !important;
}
.bg-theme-colored-darker5 {
  background-color: #bb735e !important;
}
.bg-theme-colored-darker6 {
  background-color: #ba705a !important;
}
.bg-theme-colored-darker7 {
  background-color: #b86d57 !important;
}
.bg-theme-colored-darker8 {
  background-color: #b76a53 !important;
}
.bg-theme-colored-darker9 {
  background-color: #b56750 !important;
}
/* -------- Transparent bg Color ---------- */
.bg-theme-colored-transparent-9 {
  background-color: rgba(195, 131, 112, 0.9) !important;
}
.bg-theme-colored-transparent-8 {
  background-color: rgba(195, 131, 112, 0.8) !important;
}
.bg-theme-colored-transparent-7 {
  background-color: rgba(195, 131, 112, 0.7) !important;
}
.bg-theme-colored-transparent-6 {
  background-color: rgba(195, 131, 112, 0.6) !important;
}
.bg-theme-colored-transparent-5 {
  background-color: rgba(195, 131, 112, 0.5) !important;
}
.bg-theme-colored-transparent-4 {
  background-color: rgba(195, 131, 112, 0.4) !important;
}
.bg-theme-colored-transparent-3 {
  background-color: rgba(195, 131, 112, 0.3) !important;
}
.bg-theme-colored-transparent-2 {
  background-color: rgba(195, 131, 112, 0.2) !important;
}
.bg-theme-colored-transparent-1 {
  background-color: rgba(195, 131, 112, 0.1) !important;
}
.bg-theme-colored-transparent {
  background-color: rgba(195, 131, 112, 0.5) !important;
}
/* -------- layer overlay Color ---------- */
.layer-overlay {
  /* .overlay-theme-colored */
}
.layer-overlay.overlay-theme-colored::before {
  background-color: rgba(195, 131, 112, 0.8);
}
.layer-overlay.overlay-theme-colored-1::before {
  background-color: rgba(195, 131, 112, 0.1);
}
.layer-overlay.overlay-theme-colored-2::before {
  background-color: rgba(195, 131, 112, 0.2);
}
.layer-overlay.overlay-theme-colored-3::before {
  background-color: rgba(195, 131, 112, 0.3);
}
.layer-overlay.overlay-theme-colored-4::before {
  background-color: rgba(195, 131, 112, 0.4);
}
.layer-overlay.overlay-theme-colored-5::before {
  background-color: rgba(195, 131, 112, 0.5);
}
.layer-overlay.overlay-theme-colored-6::before {
  background-color: rgba(195, 131, 112, 0.6);
}
.layer-overlay.overlay-theme-colored-7::before {
  background-color: rgba(195, 131, 112, 0.7);
}
.layer-overlay.overlay-theme-colored-8::before {
  background-color: rgba(195, 131, 112, 0.8);
}
.layer-overlay.overlay-theme-colored-9::before {
  background-color: rgba(195, 131, 112, 0.9);
}
/*
 * btn-default: theme-color
 * -----------------------------------------------
*/
.btn-default.btn-theme-colored {
  color: #c38370;
  background-color: #fff;
  border-color: #c38370;
}
.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.focus {
  color: #c38370;
  background-color: #e6e6e6;
  border-color: #7e4635;
}
.btn-default.btn-theme-colored:hover {
  color: #c38370;
  background-color: #e6e6e6;
  border-color: #ad6049;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  color: #c38370;
  background-color: #e6e6e6;
  border-color: #ad6049;
}
.btn-default.btn-theme-colored:active:hover,
.btn-default.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active:focus,
.btn-default.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored:active.focus,
.btn-default.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored.focus {
  color: #c38370;
  background-color: #d4d4d4;
  border-color: #7e4635;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  background-image: none;
}
.btn-default.btn-theme-colored.disabled:hover,
.btn-default.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored.disabled:focus,
.btn-default.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.disabled.focus,
.btn-default.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-default.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #c38370;
}
.btn-default.btn-theme-colored .badge {
  color: #fff;
  background-color: #c38370;
}
.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored:focus {
  background-color: #c38370;
  border-color: #c38370;
  color: #fff;
}
/*
 * btn-border
 * -----------------------------------------------
*/
.btn-border.btn-theme-colored {
  color: #c38370;
  background-color: #fff;
  border-color: #c38370;
}
.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.focus {
  color: #c38370;
  background-color: #e6e6e6;
  border-color: #7e4635;
}
.btn-border.btn-theme-colored:hover {
  color: #c38370;
  background-color: #e6e6e6;
  border-color: #ad6049;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  color: #c38370;
  background-color: #e6e6e6;
  border-color: #ad6049;
}
.btn-border.btn-theme-colored:active:hover,
.btn-border.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active:focus,
.btn-border.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored:active.focus,
.btn-border.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored.focus {
  color: #c38370;
  background-color: #d4d4d4;
  border-color: #7e4635;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  background-image: none;
}
.btn-border.btn-theme-colored.disabled:hover,
.btn-border.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored.disabled:focus,
.btn-border.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.disabled.focus,
.btn-border.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-border.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #c38370;
}
.btn-border.btn-theme-colored .badge {
  color: #fff;
  background-color: #c38370;
}
.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored:focus {
  background-color: #b4644c;
  border-color: #b4644c;
  color: #fff;
}
/*
 * btn-dark
 * -----------------------------------------------
*/
.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #c38370;
  border-color: #c38370;
}
.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #b4644c;
  border-color: #7e4635;
}
.btn-dark.btn-theme-colored:hover {
  color: #fff;
  background-color: #b4644c;
  border-color: #ad6049;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #b4644c;
  border-color: #ad6049;
}
.btn-dark.btn-theme-colored:active:hover,
.btn-dark.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored:active:focus,
.btn-dark.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored:active.focus,
.btn-dark.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #9b5641;
  border-color: #7e4635;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  background-image: none;
}
.btn-dark.btn-theme-colored.disabled:hover,
.btn-dark.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored.disabled:focus,
.btn-dark.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.disabled.focus,
.btn-dark.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-dark.btn-theme-colored.focus {
  background-color: #c38370;
  border-color: #c38370;
}
.btn-dark.btn-theme-colored .badge {
  color: #c38370;
  background-color: #fff;
}
/*
 * btn-gray
 * -----------------------------------------------
*/
.btn-gray.btn-theme-colored {
  color: #c38370;
  background-color: #d2a294;
  border-color: #d2a294;
}
.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.focus {
  color: #c38370;
  background-color: #c38370;
  border-color: #a25a44;
}
.btn-gray.btn-theme-colored:hover {
  color: #c38370;
  background-color: #c38370;
  border-color: #c07d69;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  color: #c38370;
  background-color: #c38370;
  border-color: #c07d69;
}
.btn-gray.btn-theme-colored:active:hover,
.btn-gray.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored:active:focus,
.btn-gray.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored:active.focus,
.btn-gray.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored.focus {
  color: #c38370;
  background-color: #b86d57;
  border-color: #a25a44;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  background-image: none;
}
.btn-gray.btn-theme-colored.disabled:hover,
.btn-gray.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored.disabled:focus,
.btn-gray.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.disabled.focus,
.btn-gray.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-gray.btn-theme-colored.focus {
  background-color: #d2a294;
  border-color: #d2a294;
}
.btn-gray.btn-theme-colored .badge {
  color: #d2a294;
  background-color: #c38370;
}
/*
 * btn-primary: theme-color
 * -----------------------------------------------
*/
.btn-theme-colored {
  color: #fff;
  background-color: #c38370;
  border-color: #c38370;
}
.btn-theme-colored:focus,
.btn-theme-colored.focus {
  color: #fff;
  background-color: #b4644c;
  border-color: #7e4635;
}
.btn-theme-colored:hover {
  color: #fff;
  background-color: #b4644c;
  border-color: #ad6049;
}
.btn-theme-colored:active,
.btn-theme-colored.active,
.open > .dropdown-toggle.btn-theme-colored {
  color: #fff;
  background-color: #b4644c;
  border-color: #ad6049;
}
.btn-theme-colored:active:hover,
.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-theme-colored:hover,
.btn-theme-colored:active:focus,
.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-theme-colored:focus,
.btn-theme-colored:active.focus,
.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-theme-colored.focus {
  color: #fff;
  background-color: #9b5641;
  border-color: #7e4635;
}
.btn-theme-colored:active,
.btn-theme-colored.active,
.open > .dropdown-toggle.btn-theme-colored {
  background-image: none;
}
.btn-theme-colored.disabled:hover,
.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-theme-colored:hover,
.btn-theme-colored.disabled:focus,
.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-theme-colored:focus,
.btn-theme-colored.disabled.focus,
.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-theme-colored.focus {
  background-color: #c38370;
  border-color: #c38370;
}
.btn-theme-colored .badge {
  color: #c38370;
  background-color: #fff;
}
/*
 * btn-transparent
 * -----------------------------------------------
*/
.btn-transparent {
  background-color: transparent;
  color: #fff;
}
.btn-transparent.btn-theme-colored {
  background-color: transparent;
}
.btn-transparent.btn-dark {
  background-color: #111111;
  border-color: #111111;
}
.btn-transparent.btn-dark:hover {
  background-color: #000000;
  border-color: #000000;
}
.btn-transparent.btn-dark.btn-theme-colored {
  background-color: #c38370;
  border-color: #c38370;
}
.btn-transparent.btn-dark.btn-theme-colored:hover {
  background-color: #b4644c;
  border-color: #b4644c;
}
.btn-transparent.btn-border {
  background-color: transparent;
  border-color: #eeeeee;
}
.btn-transparent.btn-border:hover {
  background-color: #eeeeee;
  color: #000;
}
.btn-transparent.btn-border.btn-theme-colored {
  background-color: transparent;
  border-color: #c38370;
}
.btn-transparent.btn-border.btn-theme-colored:hover {
  background-color: #c38370;
  color: #fff;
}
.btn-gray.btn-transparent {
  background-color: #d3d3d3;
  color: #333333;
}
.btn-gray.btn-transparent:hover {
  background-color: #ececec;
  color: #1a1a1a;
}
.btn-gray.btn-transparent.btn-theme-colored {
  background-color: #d2a294;
  color: #fff;
}
.btn-gray.btn-transparent.btn-theme-colored:hover {
  background-color: #b4644c;
  color: #b4644c;
}
.btn-hover-theme-colored:hover {
  background-color: #c38370;
  border-color: #c38370;
  color: #fff;
}
/*
 * Shortcode: styled-icons Theme Colored
 * -----------------------------------------------
*/
.icon-theme-colored a {
  color: #c38370;
}
.icon-theme-colored.icon-bordered a {
  border-color: #c38370;
}
.icon-theme-colored.icon-bordered a:hover {
  background-color: #c38370;
  color: #fff;
}
.icon-theme-colored.icon-dark a {
  background-color: #c38370;
  color: #fff;
}
.icon-theme-colored.icon-dark a:hover {
  background-color: #b4644c;
}
.icon-theme-colored.icon-dark.icon-bordered a {
  border-color: #c38370;
  color: #c38370;
}
.icon-theme-colored.icon-dark.icon-bordered a:hover {
  background-color: #c38370;
  border-color: #c38370;
  color: #fff;
}
.icon-theme-colored.icon-gray a {
  color: #c38370;
}
.icon-theme-colored.icon-gray a:hover {
  color: #b4644c;
}
.icon-theme-colored.icon-gray.icon-bordered a {
  color: #c38370;
}
.icon-theme-colored.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #c38370;
}
.icon-hover-theme-colored a:hover {
  background-color: #c38370;
  border-color: #c38370;
  color: #fff;
}
.styled-icons.icon-hover-theme-colored a:hover {
  background-color: #c38370;
  border-color: #c38370;
  color: #fff;
}
/*
 * Shortcode: Icon Boxes Theme Colored
 * -----------------------------------------------
*/
.icon-box.iconbox-theme-colored .icon {
  color: #c38370;
}
.icon-box.iconbox-theme-colored .icon.icon-border-effect::after {
  box-shadow: 0 0 0 3px #c38370;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered {
  border-color: #c38370;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered:hover {
  background-color: #c38370;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray:hover {
  background-color: #c38370;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered {
  border-color: #eeeeee;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered:hover {
  background-color: #c38370;
  border-color: #c38370;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark {
  background-color: #c38370;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark:hover {
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered {
  background-color: transparent;
  border-color: #c38370;
  color: #c38370;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered:hover {
  background-color: #c38370;
  border-color: #c38370;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white {
  background-color: #fff;
  color: #c38370;
}
.icon-box.iconbox-theme-colored .icon.icon-white:hover {
  background-color: #c38370;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered {
  background-color: transparent;
  border-color: #c38370;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered:hover {
  background-color: #c38370;
  border-color: #c38370;
  color: #fff;
}
.icon-box.iconbox-theme-colored.iconbox-border {
  border-color: #c38370;
}
/*
 *  accordion.less
 * -----------------------------------------------
*/
.accordion-theme-colored .panel-default > .panel-heading {
  background-color: #c38370;
}
.accordion-theme-colored .panel-default > .panel-heading .panel-title > a,
.accordion-theme-colored .panel-default > .panel-heading .panel-title > a:hover,
.accordion-theme-colored .panel-default > .panel-heading .panel-title > a:focus {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored .panel-heading .panel-title a.active:before {
  background: #c38370;
}
.panel-group.accordion-classic-theme-colored-filled .panel-heading {
  background: #c38370;
}
.panel-group.accordion-classic-theme-colored-filled .panel-heading .panel-title a {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored-filled .panel-heading .panel-title a:before {
  background: #be7a65;
  color: #fff;
}
.panel-group.accordion-classic-theme-colored-filled .panel-heading .panel-title a.active:before {
  background: #aa5e47;
}
.panel-group.accordion-classic-theme-colored12 .panel-heading {
  background: #c38370;
}
.panel-group.accordion-classic-theme-colored12 .panel-heading .panel-title a {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored12 .panel-heading .panel-title a:before {
  background: #bb735e;
  color: #fff;
}
.panel-group.accordion-classic-theme-colored12 .panel-heading .panel-title a.active:before {
  background: #a45c40;
}
.panel-group.accordion-icon-filled.accordion-icon-left.accordion-icon-filled-theme-colored .panel-heading .panel-title a:before {
  background-color: #c38370;
}
.panel-group.accordion-icon-filled.accordion-icon-right.accordion-icon-filled-theme-colored .panel-heading .panel-title a:after {
  background-color: #c38370;
}
/* Modern Header */
.modern-header.modern-header-theme-colored2 .header-nav .header-nav-wrapper:not(.scroll-to-fixed-fixed) nav {
  background: #a45c40;
}
.modern-header.modern-header-theme-colored2 .header-nav .header-nav-wrapper.scroll-to-fixed-fixed {
  background: #a45c40;
}
/* -------- Text Theme Color ---------- */
.text-theme-colored2 {
  color: #a45c40 !important;
}
.text-hover-theme-colored2:hover {
  color: #a45c40 !important;
}
ul.list.theme-colored2 li:before,
ul.list.theme-colored2.angle-double-right li:before,
ul.list.theme-colored2.angle-right li:before,
ul.list.theme-colored2.check-circle li:before,
ul.list.theme-colored2.check li:before,
.list-icon.theme-colored2 li i {
  color: #a45c40;
}
/* -------- border-theme-color ---------- */
.border-theme-colored2 {
  border-color: #a45c40 !important;
}
.border-1px-theme-colored2 {
  border: 1px solid #a45c40;
}
/* border-left-color */
blockquote.theme-colored2 {
  border-left: 3px solid #a45c40;
}
blockquote.bg-theme-colored2 {
  border-left: 3px solid #7f4732;
  color: #fff;
}
blockquote.bg-theme-colored2 footer {
  color: #eeeeee;
}
blockquote.gray.bg-theme-colored2 {
  background-color: #eeeeee !important;
  border-left: 3px solid #a45c40;
  color: #a45c40;
}
blockquote.gray.bg-theme-colored2 footer {
  color: #777777;
}
/* -------- bg-theme-color ---------- */
.bg-theme-colored2 {
  background-color: #a45c40 !important;
}
.bg-hover-theme-colored2:hover {
  background: #a45c40 !important;
  border-color: #a45c40 !important;
  color: #fff !important;
}
.bg-hover-theme-colored2:hover h1,
.bg-hover-theme-colored2:hover h2,
.bg-hover-theme-colored2:hover h3,
.bg-hover-theme-colored2:hover h4,
.bg-hover-theme-colored2:hover h5,
.bg-hover-theme-colored2:hover h6,
.bg-hover-theme-colored2:hover p,
.bg-hover-theme-colored2:hover a,
.bg-hover-theme-colored2:hover i {
  color: #fff !important;
}
.list-icon.theme-colored2.square li i,
.list-icon.theme-colored2.rounded li i {
  background: #a45c40;
}
/* -------- lighter/darker bg Color ---------- */
.bg-theme-colored2-lighter2 {
  background-color: #ab6043 !important;
}
.bg-theme-colored2-lighter3 {
  background-color: #af6244 !important;
}
.bg-theme-colored2-lighter4 {
  background-color: #b36446 !important;
}
.bg-theme-colored2-lighter5 {
  background-color: #b66647 !important;
}
.bg-theme-colored2-lighter6 {
  background-color: #b8694a !important;
}
.bg-theme-colored2-lighter7 {
  background-color: #ba6c4e !important;
}
.bg-theme-colored2-lighter8 {
  background-color: #bb6f52 !important;
}
.bg-theme-colored2-lighter9 {
  background-color: #bd7255 !important;
}
.bg-theme-colored2-darker2 {
  background-color: #9d583d !important;
}
.bg-theme-colored2-darker3 {
  background-color: #99563c !important;
}
.bg-theme-colored2-darker4 {
  background-color: #95543a !important;
}
.bg-theme-colored2-darker5 {
  background-color: #925239 !important;
}
.bg-theme-colored2-darker6 {
  background-color: #8e5037 !important;
}
.bg-theme-colored2-darker7 {
  background-color: #8a4e36 !important;
}
.bg-theme-colored2-darker8 {
  background-color: #874c35 !important;
}
.bg-theme-colored2-darker9 {
  background-color: #834933 !important;
}
/* -------- Transparent bg Color ---------- */
.bg-theme-colored2-transparent-9 {
  background-color: rgba(164, 92, 64, 0.9) !important;
}
.bg-theme-colored2-transparent-8 {
  background-color: rgba(164, 92, 64, 0.8) !important;
}
.bg-theme-colored2-transparent-7 {
  background-color: rgba(164, 92, 64, 0.7) !important;
}
.bg-theme-colored2-transparent-6 {
  background-color: rgba(164, 92, 64, 0.6) !important;
}
.bg-theme-colored2-transparent-5 {
  background-color: rgba(164, 92, 64, 0.5) !important;
}
.bg-theme-colored2-transparent-4 {
  background-color: rgba(164, 92, 64, 0.4) !important;
}
.bg-theme-colored2-transparent-3 {
  background-color: rgba(164, 92, 64, 0.3) !important;
}
.bg-theme-colored2-transparent-2 {
  background-color: rgba(164, 92, 64, 0.2) !important;
}
.bg-theme-colored2-transparent-1 {
  background-color: rgba(164, 92, 64, 0.1) !important;
}
.bg-theme-colored2-transparent {
  background-color: rgba(164, 92, 64, 0.5) !important;
}
/* -------- layer overlay Color ---------- */
.layer-overlay {
  /* .overlay-theme-colored2 */
}
.layer-overlay.overlay-theme-colored2::before {
  background-color: rgba(164, 92, 64, 0.8) !important;
}
.layer-overlay.overlay-theme-colored2-1::before {
  background-color: rgba(164, 92, 64, 0.1);
}
.layer-overlay.overlay-theme-colored2-2::before {
  background-color: rgba(164, 92, 64, 0.2);
}
.layer-overlay.overlay-theme-colored2-3::before {
  background-color: rgba(164, 92, 64, 0.3);
}
.layer-overlay.overlay-theme-colored2-4::before {
  background-color: rgba(164, 92, 64, 0.4);
}
.layer-overlay.overlay-theme-colored2-5::before {
  background-color: rgba(164, 92, 64, 0.5);
}
.layer-overlay.overlay-theme-colored2-6::before {
  background-color: rgba(164, 92, 64, 0.6);
}
.layer-overlay.overlay-theme-colored2-7::before {
  background-color: rgba(164, 92, 64, 0.7);
}
.layer-overlay.overlay-theme-colored2-8::before {
  background-color: rgba(164, 92, 64, 0.8);
}
.layer-overlay.overlay-theme-colored2-9::before {
  background-color: rgba(164, 92, 64, 0.9);
}
/*
 * btn-default: theme-color
 * -----------------------------------------------
*/
.btn-default.btn-theme-colored2 {
  color: #a45c40;
  background-color: #fff;
  border-color: #a45c40;
}
.btn-default.btn-theme-colored2:focus,
.btn-default.btn-theme-colored2.focus {
  color: #a45c40;
  background-color: #e6e6e6;
  border-color: #48291c;
}
.btn-default.btn-theme-colored2:hover {
  color: #a45c40;
  background-color: #e6e6e6;
  border-color: #78432f;
}
.btn-default.btn-theme-colored2:active,
.btn-default.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored2 {
  color: #a45c40;
  background-color: #e6e6e6;
  border-color: #78432f;
}
.btn-default.btn-theme-colored2:active:hover,
.btn-default.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-default.btn-theme-colored2:hover,
.btn-default.btn-theme-colored2:active:focus,
.btn-default.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored2:focus,
.btn-default.btn-theme-colored2:active.focus,
.btn-default.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored2.focus {
  color: #a45c40;
  background-color: #d4d4d4;
  border-color: #48291c;
}
.btn-default.btn-theme-colored2:active,
.btn-default.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored2 {
  background-image: none;
}
.btn-default.btn-theme-colored2.disabled:hover,
.btn-default.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-default.btn-theme-colored2:hover,
.btn-default.btn-theme-colored2.disabled:focus,
.btn-default.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-default.btn-theme-colored2:focus,
.btn-default.btn-theme-colored2.disabled.focus,
.btn-default.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-default.btn-theme-colored2.focus {
  background-color: #fff;
  border-color: #a45c40;
}
.btn-default.btn-theme-colored2 .badge {
  color: #fff;
  background-color: #a45c40;
}
.btn-default.btn-theme-colored2:hover,
.btn-default.btn-theme-colored2:active,
.btn-default.btn-theme-colored2:focus {
  background-color: #a45c40;
  border-color: #a45c40;
  color: #fff;
}
/*
 * btn-border
 * -----------------------------------------------
*/
.btn-border.btn-theme-colored2 {
  color: #a45c40;
  background-color: #fff;
  border-color: #a45c40;
}
.btn-border.btn-theme-colored2:focus,
.btn-border.btn-theme-colored2.focus {
  color: #a45c40;
  background-color: #e6e6e6;
  border-color: #48291c;
}
.btn-border.btn-theme-colored2:hover {
  color: #a45c40;
  background-color: #e6e6e6;
  border-color: #78432f;
}
.btn-border.btn-theme-colored2:active,
.btn-border.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored2 {
  color: #a45c40;
  background-color: #e6e6e6;
  border-color: #78432f;
}
.btn-border.btn-theme-colored2:active:hover,
.btn-border.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-border.btn-theme-colored2:hover,
.btn-border.btn-theme-colored2:active:focus,
.btn-border.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored2:focus,
.btn-border.btn-theme-colored2:active.focus,
.btn-border.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored2.focus {
  color: #a45c40;
  background-color: #d4d4d4;
  border-color: #48291c;
}
.btn-border.btn-theme-colored2:active,
.btn-border.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored2 {
  background-image: none;
}
.btn-border.btn-theme-colored2.disabled:hover,
.btn-border.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-border.btn-theme-colored2:hover,
.btn-border.btn-theme-colored2.disabled:focus,
.btn-border.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-border.btn-theme-colored2:focus,
.btn-border.btn-theme-colored2.disabled.focus,
.btn-border.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-border.btn-theme-colored2.focus {
  background-color: #fff;
  border-color: #a45c40;
}
.btn-border.btn-theme-colored2 .badge {
  color: #fff;
  background-color: #a45c40;
}
.btn-border.btn-theme-colored2:hover,
.btn-border.btn-theme-colored2:active,
.btn-border.btn-theme-colored2:focus {
  background-color: #7f4732;
  border-color: #7f4732;
  color: #fff;
}
/*
 * btn-dark
 * -----------------------------------------------
*/
.btn-dark.btn-theme-colored2 {
  color: #fff;
  background-color: #a45c40;
  border-color: #a45c40;
}
.btn-dark.btn-theme-colored2:focus,
.btn-dark.btn-theme-colored2.focus {
  color: #fff;
  background-color: #7f4732;
  border-color: #48291c;
}
.btn-dark.btn-theme-colored2:hover {
  color: #fff;
  background-color: #7f4732;
  border-color: #78432f;
}
.btn-dark.btn-theme-colored2:active,
.btn-dark.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2 {
  color: #fff;
  background-color: #7f4732;
  border-color: #78432f;
}
.btn-dark.btn-theme-colored2:active:hover,
.btn-dark.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2:hover,
.btn-dark.btn-theme-colored2:active:focus,
.btn-dark.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2:focus,
.btn-dark.btn-theme-colored2:active.focus,
.btn-dark.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2.focus {
  color: #fff;
  background-color: #663928;
  border-color: #48291c;
}
.btn-dark.btn-theme-colored2:active,
.btn-dark.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2 {
  background-image: none;
}
.btn-dark.btn-theme-colored2.disabled:hover,
.btn-dark.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-dark.btn-theme-colored2:hover,
.btn-dark.btn-theme-colored2.disabled:focus,
.btn-dark.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-dark.btn-theme-colored2:focus,
.btn-dark.btn-theme-colored2.disabled.focus,
.btn-dark.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-dark.btn-theme-colored2.focus {
  background-color: #a45c40;
  border-color: #a45c40;
}
.btn-dark.btn-theme-colored2 .badge {
  color: #a45c40;
  background-color: #fff;
}
/*
 * btn-gray
 * -----------------------------------------------
*/
.btn-gray.btn-theme-colored2 {
  color: #a45c40;
  background-color: #be7559;
  border-color: #be7559;
}
.btn-gray.btn-theme-colored2:focus,
.btn-gray.btn-theme-colored2.focus {
  color: #a45c40;
  background-color: #a45c40;
  border-color: #6d3d2b;
}
.btn-gray.btn-theme-colored2:hover {
  color: #a45c40;
  background-color: #a45c40;
  border-color: #9d583d;
}
.btn-gray.btn-theme-colored2:active,
.btn-gray.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2 {
  color: #a45c40;
  background-color: #a45c40;
  border-color: #9d583d;
}
.btn-gray.btn-theme-colored2:active:hover,
.btn-gray.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2:hover,
.btn-gray.btn-theme-colored2:active:focus,
.btn-gray.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2:focus,
.btn-gray.btn-theme-colored2:active.focus,
.btn-gray.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2.focus {
  color: #a45c40;
  background-color: #8a4e36;
  border-color: #6d3d2b;
}
.btn-gray.btn-theme-colored2:active,
.btn-gray.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2 {
  background-image: none;
}
.btn-gray.btn-theme-colored2.disabled:hover,
.btn-gray.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-gray.btn-theme-colored2:hover,
.btn-gray.btn-theme-colored2.disabled:focus,
.btn-gray.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-gray.btn-theme-colored2:focus,
.btn-gray.btn-theme-colored2.disabled.focus,
.btn-gray.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-gray.btn-theme-colored2.focus {
  background-color: #be7559;
  border-color: #be7559;
}
.btn-gray.btn-theme-colored2 .badge {
  color: #be7559;
  background-color: #a45c40;
}
/*
 * btn-primary: theme-color
 * -----------------------------------------------
*/
.btn-theme-colored2 {
  color: #fff;
  background-color: #a45c40;
  border-color: #a45c40;
}
.btn-theme-colored2:focus,
.btn-theme-colored2.focus {
  color: #fff;
  background-color: #7f4732;
  border-color: #48291c;
}
.btn-theme-colored2:hover {
  color: #fff;
  background-color: #7f4732;
  border-color: #78432f;
}
.btn-theme-colored2:active,
.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-theme-colored2 {
  color: #fff;
  background-color: #7f4732;
  border-color: #78432f;
}
.btn-theme-colored2:active:hover,
.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-theme-colored2:hover,
.btn-theme-colored2:active:focus,
.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-theme-colored2:focus,
.btn-theme-colored2:active.focus,
.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-theme-colored2.focus {
  color: #fff;
  background-color: #663928;
  border-color: #48291c;
}
.btn-theme-colored2:active,
.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-theme-colored2 {
  background-image: none;
}
.btn-theme-colored2.disabled:hover,
.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-theme-colored2:hover,
.btn-theme-colored2.disabled:focus,
.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-theme-colored2:focus,
.btn-theme-colored2.disabled.focus,
.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-theme-colored2.focus {
  background-color: #a45c40;
  border-color: #a45c40;
}
.btn-theme-colored2 .badge {
  color: #a45c40;
  background-color: #fff;
}
.btn-hover-theme-colored2:hover {
  background-color: #a45c40;
  border-color: #a45c40;
  color: #fff;
}
/*
 * Shortcode: styled-icons Theme Colored
 * -----------------------------------------------
*/
.icon-theme-colored2 a {
  color: #a45c40;
}
.icon-theme-colored2.icon-bordered a {
  border-color: #a45c40;
}
.icon-theme-colored2.icon-bordered a:hover {
  background-color: #a45c40;
  color: #fff;
}
.icon-theme-colored2.icon-dark a {
  background-color: #a45c40;
  color: #fff;
}
.icon-theme-colored2.icon-dark a:hover {
  background-color: #7f4732;
}
.icon-theme-colored2.icon-dark.icon-bordered a {
  border-color: #a45c40;
  color: #a45c40;
}
.icon-theme-colored2.icon-dark.icon-bordered a:hover {
  background-color: #a45c40;
  border-color: #a45c40;
  color: #fff;
}
.icon-theme-colored2.icon-gray a {
  color: #a45c40;
}
.icon-theme-colored2.icon-gray a:hover {
  color: #7f4732;
}
.icon-theme-colored2.icon-gray.icon-bordered a {
  color: #a45c40;
}
.icon-theme-colored2.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #a45c40;
}
.icon-hover-theme-colored2 a:hover {
  background-color: #a45c40;
  border-color: #a45c40;
  color: #fff;
}
.styled-icons.icon-hover-theme-colored2 a:hover {
  background-color: #a45c40;
  border-color: #a45c40;
  color: #fff;
}
/*
 * Shortcode: Icon Boxes Theme Colored
 * -----------------------------------------------
*/
.icon-box.iconbox-theme-colored2 .icon {
  color: #a45c40;
}
.icon-box.iconbox-theme-colored2 .icon.icon-border-effect::after {
  box-shadow: 0 0 0 3px #a45c40;
}
.icon-box.iconbox-theme-colored2 .icon.icon-bordered {
  border-color: #a45c40;
}
.icon-box.iconbox-theme-colored2 .icon.icon-bordered:hover {
  background-color: #a45c40;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-gray:hover {
  background-color: #a45c40;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-gray.icon-bordered {
  border-color: #eeeeee;
}
.icon-box.iconbox-theme-colored2 .icon.icon-gray.icon-bordered:hover {
  background-color: #a45c40;
  border-color: #a45c40;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-dark {
  background-color: #a45c40;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-dark:hover {
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-dark.icon-bordered {
  background-color: transparent;
  border-color: #a45c40;
  color: #a45c40;
}
.icon-box.iconbox-theme-colored2 .icon.icon-dark.icon-bordered:hover {
  background-color: #a45c40;
  border-color: #a45c40;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-white {
  background-color: #fff;
  color: #a45c40;
}
.icon-box.iconbox-theme-colored2 .icon.icon-white:hover {
  background-color: #a45c40;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-white.icon-bordered {
  background-color: transparent;
  border-color: #a45c40;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-white.icon-bordered:hover {
  background-color: #a45c40;
  border-color: #a45c40;
  color: #fff;
}
.icon-box.iconbox-theme-colored2.iconbox-border {
  border-color: #a45c40;
}
/*
 *  accordion.less
 * -----------------------------------------------
*/
.accordion-theme-colored2 .panel-default > .panel-heading {
  background-color: #a45c40;
}
.accordion-theme-colored2 .panel-default > .panel-heading .panel-title > a,
.accordion-theme-colored2 .panel-default > .panel-heading .panel-title > a:hover,
.accordion-theme-colored2 .panel-default > .panel-heading .panel-title > a:focus {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored2 .panel-heading .panel-title a.active:before {
  background: #a45c40;
}
.panel-group.accordion-classic-theme-colored2-filled .panel-heading {
  background: #a45c40;
}
.panel-group.accordion-classic-theme-colored2-filled .panel-heading .panel-title a {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored2-filled .panel-heading .panel-title a:before {
  background: #99563c;
  color: #fff;
}
.panel-group.accordion-classic-theme-colored2-filled .panel-heading .panel-title a.active:before {
  background: #74412d;
}
.panel-group.accordion-classic-theme-colored21 .panel-heading {
  background: #a45c40;
}
.panel-group.accordion-classic-theme-colored21 .panel-heading .panel-title a {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored21 .panel-heading .panel-title a:before {
  background: #925239;
  color: #fff;
}
.panel-group.accordion-classic-theme-colored21 .panel-heading .panel-title a.active:before {
  background: #c38370;
}
.panel-group.accordion-icon-filled.accordion-icon-left.accordion-icon-filled-theme-colored2 .panel-heading .panel-title a:before {
  background-color: #a45c40;
}
.panel-group.accordion-icon-filled.accordion-icon-right.accordion-icon-filled-theme-colored2 .panel-heading .panel-title a:after {
  background-color: #a45c40;
}
/*
 *  common.less
 * -----------------------------------------------
*/
/*
 * custom-section-color-set.less
 * -----------------------------------------------
*/
/*
 * custom-section-color1.less
 * -----------------------------------------------
*/
.horizontal-tab-centered .nav-pills > li a i {
  color: #c38370;
}
.pricing-table {
  border: 10px solid #c38370;
}
.pricing-icon {
  border: 7px solid #c38370;
}
.service-box-hover:hover {
  background: #c38370;
}
.service-box-hover .icon-hov i {
  color: #c38370;
}
.service-box-hover .icon-hov:hover i {
  color: #c38370;
}
/*
 * custom-section-color2.less
 * -----------------------------------------------
*/
/*
 *  Gradients BG+BGTransparent Color
 * -----------------------------------------------
*/
/* Gradient BG Colors */
.bg-theme-colored-gradient {
  background-color: #b4644c;
  background: -webkit-gradient(linear, left top, left bottom, from(#b4644c), to(#e1c1b8));
  background: -webkit-linear-gradient(top, #b4644c, #e1c1b8);
  background: -moz-linear-gradient(top, #b4644c, #e1c1b8);
  background: -ms-linear-gradient(top, #b4644c, #e1c1b8);
  background: -o-linear-gradient(top, #b4644c, #e1c1b8);
}
.bg-theme-colored-gradient-horizontal {
  background: #b4644c;
  background: -webkit-gradient(linear, left top, right top, from(#b4644c), to(#e1c1b8));
  background: -webkit-linear-gradient(left, #b4644c, #e1c1b8);
  background: -moz-linear-gradient(left, #b4644c, #e1c1b8);
  background: -ms-linear-gradient(left, #b4644c, #e1c1b8);
  background: -o-linear-gradient(left, #b4644c, #e1c1b8);
}
.bg-theme-colored2-gradient {
  background-color: #7f4732;
  background: -webkit-gradient(linear, left top, left bottom, from(#7f4732), to(#cc947e));
  background: -webkit-linear-gradient(top, #7f4732, #cc947e);
  background: -moz-linear-gradient(top, #7f4732, #cc947e);
  background: -ms-linear-gradient(top, #7f4732, #cc947e);
  background: -o-linear-gradient(top, #7f4732, #cc947e);
}
.bg-theme-colored2-gradient-horizontal {
  background: #7f4732;
  background: -webkit-gradient(linear, left top, right top, from(#7f4732), to(#cc947e));
  background: -webkit-linear-gradient(left, #7f4732, #cc947e);
  background: -moz-linear-gradient(left, #7f4732, #cc947e);
  background: -ms-linear-gradient(left, #7f4732, #cc947e);
  background: -o-linear-gradient(left, #7f4732, #cc947e);
}
.bg-theme-colored12-gradient {
  background-color: #c38370;
  background: -webkit-gradient(linear, left top, left bottom, from(#c38370), to(#a45c40));
  background: -webkit-linear-gradient(top, #c38370, #a45c40);
  background: -moz-linear-gradient(top, #c38370, #a45c40);
  background: -ms-linear-gradient(top, #c38370, #a45c40);
  background: -o-linear-gradient(top, #c38370, #a45c40);
}
.bg-theme-colored12-gradient-horizontal {
  background: #c38370;
  background: -webkit-gradient(linear, left top, right top, from(#c38370), to(#a45c40));
  background: -webkit-linear-gradient(left, #c38370, #a45c40);
  background: -moz-linear-gradient(left, #c38370, #a45c40);
  background: -ms-linear-gradient(left, #c38370, #a45c40);
  background: -o-linear-gradient(left, #c38370, #a45c40);
}
.bg-theme-colored21-gradient {
  background-color: #a45c40;
  background: -webkit-gradient(linear, left top, left bottom, from(#a45c40), to(#c38370));
  background: -webkit-linear-gradient(top, #a45c40, #c38370);
  background: -moz-linear-gradient(top, #a45c40, #c38370);
  background: -ms-linear-gradient(top, #a45c40, #c38370);
  background: -o-linear-gradient(top, #a45c40, #c38370);
}
.bg-theme-colored21-gradient-horizontal {
  background: #a45c40;
  background: -webkit-gradient(linear, left top, right top, from(#a45c40), to(#c38370));
  background: -webkit-linear-gradient(left, #a45c40, #c38370);
  background: -moz-linear-gradient(left, #a45c40, #c38370);
  background: -ms-linear-gradient(left, #a45c40, #c38370);
  background: -o-linear-gradient(left, #a45c40, #c38370);
}
/* -------- layer overlay gradient Color1 ---------- */
.layer-overlay.overlay-theme-colored-gradient::before {
  background: rgba(195, 131, 112, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(195, 131, 112, 0.9)), to(rgba(225, 193, 184, 0.9)));
  background: -webkit-linear-gradient(left, rgba(195, 131, 112, 0.9), rgba(225, 193, 184, 0.9));
  background: -moz-linear-gradient(left, rgba(195, 131, 112, 0.9), rgba(225, 193, 184, 0.9));
  background: -ms-linear-gradient(left, rgba(195, 131, 112, 0.9), rgba(225, 193, 184, 0.9));
  background: -o-linear-gradient(left, rgba(195, 131, 112, 0.9), rgba(225, 193, 184, 0.9));
}
.layer-overlay.overlay-theme-colored-gradient-1::before {
  background: rgba(195, 131, 112, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(rgba(195, 131, 112, 0.1)), to(rgba(225, 193, 184, 0.1)));
  background: -webkit-linear-gradient(left, rgba(195, 131, 112, 0.1), rgba(225, 193, 184, 0.1));
  background: -moz-linear-gradient(left, rgba(195, 131, 112, 0.1), rgba(225, 193, 184, 0.1));
  background: -ms-linear-gradient(left, rgba(195, 131, 112, 0.1), rgba(225, 193, 184, 0.1));
  background: -o-linear-gradient(left, rgba(195, 131, 112, 0.1), rgba(225, 193, 184, 0.1));
}
.layer-overlay.overlay-theme-colored-gradient-2::before {
  background: rgba(195, 131, 112, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(rgba(195, 131, 112, 0.2)), to(rgba(225, 193, 184, 0.2)));
  background: -webkit-linear-gradient(left, rgba(195, 131, 112, 0.2), rgba(225, 193, 184, 0.2));
  background: -moz-linear-gradient(left, rgba(195, 131, 112, 0.2), rgba(225, 193, 184, 0.2));
  background: -ms-linear-gradient(left, rgba(195, 131, 112, 0.2), rgba(225, 193, 184, 0.2));
  background: -o-linear-gradient(left, rgba(195, 131, 112, 0.2), rgba(225, 193, 184, 0.2));
}
.layer-overlay.overlay-theme-colored-gradient-3::before {
  background: rgba(195, 131, 112, 0.3);
  background: -webkit-gradient(linear, left top, right top, from(rgba(195, 131, 112, 0.3)), to(rgba(225, 193, 184, 0.3)));
  background: -webkit-linear-gradient(left, rgba(195, 131, 112, 0.3), rgba(225, 193, 184, 0.3));
  background: -moz-linear-gradient(left, rgba(195, 131, 112, 0.3), rgba(225, 193, 184, 0.3));
  background: -ms-linear-gradient(left, rgba(195, 131, 112, 0.3), rgba(225, 193, 184, 0.3));
  background: -o-linear-gradient(left, rgba(195, 131, 112, 0.3), rgba(225, 193, 184, 0.3));
}
.layer-overlay.overlay-theme-colored-gradient-4::before {
  background: rgba(195, 131, 112, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(195, 131, 112, 0.4)), to(rgba(225, 193, 184, 0.4)));
  background: -webkit-linear-gradient(left, rgba(195, 131, 112, 0.4), rgba(225, 193, 184, 0.4));
  background: -moz-linear-gradient(left, rgba(195, 131, 112, 0.4), rgba(225, 193, 184, 0.4));
  background: -ms-linear-gradient(left, rgba(195, 131, 112, 0.4), rgba(225, 193, 184, 0.4));
  background: -o-linear-gradient(left, rgba(195, 131, 112, 0.4), rgba(225, 193, 184, 0.4));
}
.layer-overlay.overlay-theme-colored-gradient-5::before {
  background: rgba(195, 131, 112, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(rgba(195, 131, 112, 0.5)), to(rgba(225, 193, 184, 0.5)));
  background: -webkit-linear-gradient(left, rgba(195, 131, 112, 0.5), rgba(225, 193, 184, 0.5));
  background: -moz-linear-gradient(left, rgba(195, 131, 112, 0.5), rgba(225, 193, 184, 0.5));
  background: -ms-linear-gradient(left, rgba(195, 131, 112, 0.5), rgba(225, 193, 184, 0.5));
  background: -o-linear-gradient(left, rgba(195, 131, 112, 0.5), rgba(225, 193, 184, 0.5));
}
.layer-overlay.overlay-theme-colored-gradient-6::before {
  background: rgba(195, 131, 112, 0.6);
  background: -webkit-gradient(linear, left top, right top, from(rgba(195, 131, 112, 0.6)), to(rgba(225, 193, 184, 0.6)));
  background: -webkit-linear-gradient(left, rgba(195, 131, 112, 0.6), rgba(225, 193, 184, 0.6));
  background: -moz-linear-gradient(left, rgba(195, 131, 112, 0.6), rgba(225, 193, 184, 0.6));
  background: -ms-linear-gradient(left, rgba(195, 131, 112, 0.6), rgba(225, 193, 184, 0.6));
  background: -o-linear-gradient(left, rgba(195, 131, 112, 0.6), rgba(225, 193, 184, 0.6));
}
.layer-overlay.overlay-theme-colored-gradient-7::before {
  background: rgba(195, 131, 112, 0.7);
  background: -webkit-gradient(linear, left top, right top, from(rgba(195, 131, 112, 0.7)), to(rgba(225, 193, 184, 0.7)));
  background: -webkit-linear-gradient(left, rgba(195, 131, 112, 0.7), rgba(225, 193, 184, 0.7));
  background: -moz-linear-gradient(left, rgba(195, 131, 112, 0.7), rgba(225, 193, 184, 0.7));
  background: -ms-linear-gradient(left, rgba(195, 131, 112, 0.7), rgba(225, 193, 184, 0.7));
  background: -o-linear-gradient(left, rgba(195, 131, 112, 0.7), rgba(225, 193, 184, 0.7));
}
.layer-overlay.overlay-theme-colored-gradient-8::before {
  background: rgba(195, 131, 112, 0.8);
  background: -webkit-gradient(linear, left top, right top, from(rgba(195, 131, 112, 0.8)), to(rgba(225, 193, 184, 0.8)));
  background: -webkit-linear-gradient(left, rgba(195, 131, 112, 0.8), rgba(225, 193, 184, 0.8));
  background: -moz-linear-gradient(left, rgba(195, 131, 112, 0.8), rgba(225, 193, 184, 0.8));
  background: -ms-linear-gradient(left, rgba(195, 131, 112, 0.8), rgba(225, 193, 184, 0.8));
  background: -o-linear-gradient(left, rgba(195, 131, 112, 0.8), rgba(225, 193, 184, 0.8));
}
.layer-overlay.overlay-theme-colored-gradient-9::before {
  background: rgba(195, 131, 112, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(195, 131, 112, 0.9)), to(rgba(225, 193, 184, 0.9)));
  background: -webkit-linear-gradient(left, rgba(195, 131, 112, 0.9), rgba(225, 193, 184, 0.9));
  background: -moz-linear-gradient(left, rgba(195, 131, 112, 0.9), rgba(225, 193, 184, 0.9));
  background: -ms-linear-gradient(left, rgba(195, 131, 112, 0.9), rgba(225, 193, 184, 0.9));
  background: -o-linear-gradient(left, rgba(195, 131, 112, 0.9), rgba(225, 193, 184, 0.9));
}
/* -------- layer overlay gradient Color2 ---------- */
.layer-overlay.overlay-theme-colored2-gradient::before {
  background: rgba(164, 92, 64, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 92, 64, 0.9)), to(rgba(204, 148, 126, 0.9)));
  background: -webkit-linear-gradient(left, rgba(164, 92, 64, 0.9), rgba(204, 148, 126, 0.9));
  background: -moz-linear-gradient(left, rgba(164, 92, 64, 0.9), rgba(204, 148, 126, 0.9));
  background: -ms-linear-gradient(left, rgba(164, 92, 64, 0.9), rgba(204, 148, 126, 0.9));
  background: -o-linear-gradient(left, rgba(164, 92, 64, 0.9), rgba(204, 148, 126, 0.9));
}
.layer-overlay.overlay-theme-colored2-gradient-1::before {
  background: rgba(164, 92, 64, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 92, 64, 0.1)), to(rgba(204, 148, 126, 0.1)));
  background: -webkit-linear-gradient(left, rgba(164, 92, 64, 0.1), rgba(204, 148, 126, 0.1));
  background: -moz-linear-gradient(left, rgba(164, 92, 64, 0.1), rgba(204, 148, 126, 0.1));
  background: -ms-linear-gradient(left, rgba(164, 92, 64, 0.1), rgba(204, 148, 126, 0.1));
  background: -o-linear-gradient(left, rgba(164, 92, 64, 0.1), rgba(204, 148, 126, 0.1));
}
.layer-overlay.overlay-theme-colored2-gradient-2::before {
  background: rgba(164, 92, 64, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 92, 64, 0.2)), to(rgba(204, 148, 126, 0.2)));
  background: -webkit-linear-gradient(left, rgba(164, 92, 64, 0.2), rgba(204, 148, 126, 0.2));
  background: -moz-linear-gradient(left, rgba(164, 92, 64, 0.2), rgba(204, 148, 126, 0.2));
  background: -ms-linear-gradient(left, rgba(164, 92, 64, 0.2), rgba(204, 148, 126, 0.2));
  background: -o-linear-gradient(left, rgba(164, 92, 64, 0.2), rgba(204, 148, 126, 0.2));
}
.layer-overlay.overlay-theme-colored2-gradient-3::before {
  background: rgba(164, 92, 64, 0.3);
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 92, 64, 0.3)), to(rgba(204, 148, 126, 0.3)));
  background: -webkit-linear-gradient(left, rgba(164, 92, 64, 0.3), rgba(204, 148, 126, 0.3));
  background: -moz-linear-gradient(left, rgba(164, 92, 64, 0.3), rgba(204, 148, 126, 0.3));
  background: -ms-linear-gradient(left, rgba(164, 92, 64, 0.3), rgba(204, 148, 126, 0.3));
  background: -o-linear-gradient(left, rgba(164, 92, 64, 0.3), rgba(204, 148, 126, 0.3));
}
.layer-overlay.overlay-theme-colored2-gradient-4::before {
  background: rgba(164, 92, 64, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 92, 64, 0.4)), to(rgba(204, 148, 126, 0.4)));
  background: -webkit-linear-gradient(left, rgba(164, 92, 64, 0.4), rgba(204, 148, 126, 0.4));
  background: -moz-linear-gradient(left, rgba(164, 92, 64, 0.4), rgba(204, 148, 126, 0.4));
  background: -ms-linear-gradient(left, rgba(164, 92, 64, 0.4), rgba(204, 148, 126, 0.4));
  background: -o-linear-gradient(left, rgba(164, 92, 64, 0.4), rgba(204, 148, 126, 0.4));
}
.layer-overlay.overlay-theme-colored2-gradient-5::before {
  background: rgba(164, 92, 64, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 92, 64, 0.5)), to(rgba(204, 148, 126, 0.5)));
  background: -webkit-linear-gradient(left, rgba(164, 92, 64, 0.5), rgba(204, 148, 126, 0.5));
  background: -moz-linear-gradient(left, rgba(164, 92, 64, 0.5), rgba(204, 148, 126, 0.5));
  background: -ms-linear-gradient(left, rgba(164, 92, 64, 0.5), rgba(204, 148, 126, 0.5));
  background: -o-linear-gradient(left, rgba(164, 92, 64, 0.5), rgba(204, 148, 126, 0.5));
}
.layer-overlay.overlay-theme-colored2-gradient-6::before {
  background: rgba(164, 92, 64, 0.6);
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 92, 64, 0.6)), to(rgba(204, 148, 126, 0.6)));
  background: -webkit-linear-gradient(left, rgba(164, 92, 64, 0.6), rgba(204, 148, 126, 0.6));
  background: -moz-linear-gradient(left, rgba(164, 92, 64, 0.6), rgba(204, 148, 126, 0.6));
  background: -ms-linear-gradient(left, rgba(164, 92, 64, 0.6), rgba(204, 148, 126, 0.6));
  background: -o-linear-gradient(left, rgba(164, 92, 64, 0.6), rgba(204, 148, 126, 0.6));
}
.layer-overlay.overlay-theme-colored2-gradient-7::before {
  background: rgba(164, 92, 64, 0.7);
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 92, 64, 0.7)), to(rgba(204, 148, 126, 0.7)));
  background: -webkit-linear-gradient(left, rgba(164, 92, 64, 0.7), rgba(204, 148, 126, 0.7));
  background: -moz-linear-gradient(left, rgba(164, 92, 64, 0.7), rgba(204, 148, 126, 0.7));
  background: -ms-linear-gradient(left, rgba(164, 92, 64, 0.7), rgba(204, 148, 126, 0.7));
  background: -o-linear-gradient(left, rgba(164, 92, 64, 0.7), rgba(204, 148, 126, 0.7));
}
.layer-overlay.overlay-theme-colored2-gradient-8::before {
  background: rgba(164, 92, 64, 0.8);
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 92, 64, 0.8)), to(rgba(204, 148, 126, 0.8)));
  background: -webkit-linear-gradient(left, rgba(164, 92, 64, 0.8), rgba(204, 148, 126, 0.8));
  background: -moz-linear-gradient(left, rgba(164, 92, 64, 0.8), rgba(204, 148, 126, 0.8));
  background: -ms-linear-gradient(left, rgba(164, 92, 64, 0.8), rgba(204, 148, 126, 0.8));
  background: -o-linear-gradient(left, rgba(164, 92, 64, 0.8), rgba(204, 148, 126, 0.8));
}
.layer-overlay.overlay-theme-colored2-gradient-9::before {
  background: rgba(164, 92, 64, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 92, 64, 0.9)), to(rgba(204, 148, 126, 0.9)));
  background: -webkit-linear-gradient(left, rgba(164, 92, 64, 0.9), rgba(204, 148, 126, 0.9));
  background: -moz-linear-gradient(left, rgba(164, 92, 64, 0.9), rgba(204, 148, 126, 0.9));
  background: -ms-linear-gradient(left, rgba(164, 92, 64, 0.9), rgba(204, 148, 126, 0.9));
  background: -o-linear-gradient(left, rgba(164, 92, 64, 0.9), rgba(204, 148, 126, 0.9));
}
/* -------- layer overlay gradient Color Combined 12 ---------- */
.layer-overlay.overlay-theme-colored12-gradient::before {
  background: rgba(195, 131, 112, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(195, 131, 112, 0.9)), to(rgba(164, 92, 64, 0.9)));
  background: -webkit-linear-gradient(left, rgba(195, 131, 112, 0.9), rgba(164, 92, 64, 0.9));
  background: -moz-linear-gradient(left, rgba(195, 131, 112, 0.9), rgba(164, 92, 64, 0.9));
  background: -ms-linear-gradient(left, rgba(195, 131, 112, 0.9), rgba(164, 92, 64, 0.9));
  background: -o-linear-gradient(left, rgba(195, 131, 112, 0.9), rgba(164, 92, 64, 0.9));
}
.layer-overlay.overlay-theme-colored12-gradient-1::before {
  background: rgba(195, 131, 112, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(rgba(195, 131, 112, 0.1)), to(rgba(164, 92, 64, 0.1)));
  background: -webkit-linear-gradient(left, rgba(195, 131, 112, 0.1), rgba(164, 92, 64, 0.1));
  background: -moz-linear-gradient(left, rgba(195, 131, 112, 0.1), rgba(164, 92, 64, 0.1));
  background: -ms-linear-gradient(left, rgba(195, 131, 112, 0.1), rgba(164, 92, 64, 0.1));
  background: -o-linear-gradient(left, rgba(195, 131, 112, 0.1), rgba(164, 92, 64, 0.1));
}
.layer-overlay.overlay-theme-colored12-gradient-2::before {
  background: rgba(195, 131, 112, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(rgba(195, 131, 112, 0.2)), to(rgba(164, 92, 64, 0.2)));
  background: -webkit-linear-gradient(left, rgba(195, 131, 112, 0.2), rgba(164, 92, 64, 0.2));
  background: -moz-linear-gradient(left, rgba(195, 131, 112, 0.2), rgba(164, 92, 64, 0.2));
  background: -ms-linear-gradient(left, rgba(195, 131, 112, 0.2), rgba(164, 92, 64, 0.2));
  background: -o-linear-gradient(left, rgba(195, 131, 112, 0.2), rgba(164, 92, 64, 0.2));
}
.layer-overlay.overlay-theme-colored12-gradient-3::before {
  background: rgba(195, 131, 112, 0.3);
  background: -webkit-gradient(linear, left top, right top, from(rgba(195, 131, 112, 0.3)), to(rgba(164, 92, 64, 0.3)));
  background: -webkit-linear-gradient(left, rgba(195, 131, 112, 0.3), rgba(164, 92, 64, 0.3));
  background: -moz-linear-gradient(left, rgba(195, 131, 112, 0.3), rgba(164, 92, 64, 0.3));
  background: -ms-linear-gradient(left, rgba(195, 131, 112, 0.3), rgba(164, 92, 64, 0.3));
  background: -o-linear-gradient(left, rgba(195, 131, 112, 0.3), rgba(164, 92, 64, 0.3));
}
.layer-overlay.overlay-theme-colored12-gradient-4::before {
  background: rgba(195, 131, 112, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(195, 131, 112, 0.4)), to(rgba(164, 92, 64, 0.4)));
  background: -webkit-linear-gradient(left, rgba(195, 131, 112, 0.4), rgba(164, 92, 64, 0.4));
  background: -moz-linear-gradient(left, rgba(195, 131, 112, 0.4), rgba(164, 92, 64, 0.4));
  background: -ms-linear-gradient(left, rgba(195, 131, 112, 0.4), rgba(164, 92, 64, 0.4));
  background: -o-linear-gradient(left, rgba(195, 131, 112, 0.4), rgba(164, 92, 64, 0.4));
}
.layer-overlay.overlay-theme-colored12-gradient-5::before {
  background: rgba(195, 131, 112, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(rgba(195, 131, 112, 0.5)), to(rgba(164, 92, 64, 0.5)));
  background: -webkit-linear-gradient(left, rgba(195, 131, 112, 0.5), rgba(164, 92, 64, 0.5));
  background: -moz-linear-gradient(left, rgba(195, 131, 112, 0.5), rgba(164, 92, 64, 0.5));
  background: -ms-linear-gradient(left, rgba(195, 131, 112, 0.5), rgba(164, 92, 64, 0.5));
  background: -o-linear-gradient(left, rgba(195, 131, 112, 0.5), rgba(164, 92, 64, 0.5));
}
.layer-overlay.overlay-theme-colored12-gradient-6::before {
  background: rgba(195, 131, 112, 0.6);
  background: -webkit-gradient(linear, left top, right top, from(rgba(195, 131, 112, 0.6)), to(rgba(164, 92, 64, 0.6)));
  background: -webkit-linear-gradient(left, rgba(195, 131, 112, 0.6), rgba(164, 92, 64, 0.6));
  background: -moz-linear-gradient(left, rgba(195, 131, 112, 0.6), rgba(164, 92, 64, 0.6));
  background: -ms-linear-gradient(left, rgba(195, 131, 112, 0.6), rgba(164, 92, 64, 0.6));
  background: -o-linear-gradient(left, rgba(195, 131, 112, 0.6), rgba(164, 92, 64, 0.6));
}
.layer-overlay.overlay-theme-colored12-gradient-7::before {
  background: rgba(195, 131, 112, 0.7);
  background: -webkit-gradient(linear, left top, right top, from(rgba(195, 131, 112, 0.7)), to(rgba(164, 92, 64, 0.7)));
  background: -webkit-linear-gradient(left, rgba(195, 131, 112, 0.7), rgba(164, 92, 64, 0.7));
  background: -moz-linear-gradient(left, rgba(195, 131, 112, 0.7), rgba(164, 92, 64, 0.7));
  background: -ms-linear-gradient(left, rgba(195, 131, 112, 0.7), rgba(164, 92, 64, 0.7));
  background: -o-linear-gradient(left, rgba(195, 131, 112, 0.7), rgba(164, 92, 64, 0.7));
}
.layer-overlay.overlay-theme-colored12-gradient-8::before {
  background: rgba(195, 131, 112, 0.8);
  background: -webkit-gradient(linear, left top, right top, from(rgba(195, 131, 112, 0.8)), to(rgba(164, 92, 64, 0.8)));
  background: -webkit-linear-gradient(left, rgba(195, 131, 112, 0.8), rgba(164, 92, 64, 0.8));
  background: -moz-linear-gradient(left, rgba(195, 131, 112, 0.8), rgba(164, 92, 64, 0.8));
  background: -ms-linear-gradient(left, rgba(195, 131, 112, 0.8), rgba(164, 92, 64, 0.8));
  background: -o-linear-gradient(left, rgba(195, 131, 112, 0.8), rgba(164, 92, 64, 0.8));
}
.layer-overlay.overlay-theme-colored12-gradient-9::before {
  background: rgba(195, 131, 112, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(195, 131, 112, 0.9)), to(rgba(164, 92, 64, 0.9)));
  background: -webkit-linear-gradient(left, rgba(195, 131, 112, 0.9), rgba(164, 92, 64, 0.9));
  background: -moz-linear-gradient(left, rgba(195, 131, 112, 0.9), rgba(164, 92, 64, 0.9));
  background: -ms-linear-gradient(left, rgba(195, 131, 112, 0.9), rgba(164, 92, 64, 0.9));
  background: -o-linear-gradient(left, rgba(195, 131, 112, 0.9), rgba(164, 92, 64, 0.9));
}
/* -------- layer overlay gradient Color Combined 21 ---------- */
.layer-overlay.overlay-theme-colored21-gradient::before {
  background: rgba(164, 92, 64, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 92, 64, 0.9)), to(rgba(195, 131, 112, 0.9)));
  background: -webkit-linear-gradient(left, rgba(164, 92, 64, 0.9), rgba(195, 131, 112, 0.9));
  background: -moz-linear-gradient(left, rgba(164, 92, 64, 0.9), rgba(195, 131, 112, 0.9));
  background: -ms-linear-gradient(left, rgba(164, 92, 64, 0.9), rgba(195, 131, 112, 0.9));
  background: -o-linear-gradient(left, rgba(164, 92, 64, 0.9), rgba(195, 131, 112, 0.9));
}
.layer-overlay.overlay-theme-colored21-gradient-1::before {
  background: rgba(164, 92, 64, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 92, 64, 0.1)), to(rgba(195, 131, 112, 0.1)));
  background: -webkit-linear-gradient(left, rgba(164, 92, 64, 0.1), rgba(195, 131, 112, 0.1));
  background: -moz-linear-gradient(left, rgba(164, 92, 64, 0.1), rgba(195, 131, 112, 0.1));
  background: -ms-linear-gradient(left, rgba(164, 92, 64, 0.1), rgba(195, 131, 112, 0.1));
  background: -o-linear-gradient(left, rgba(164, 92, 64, 0.1), rgba(195, 131, 112, 0.1));
}
.layer-overlay.overlay-theme-colored21-gradient-2::before {
  background: rgba(164, 92, 64, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 92, 64, 0.2)), to(rgba(195, 131, 112, 0.2)));
  background: -webkit-linear-gradient(left, rgba(164, 92, 64, 0.2), rgba(195, 131, 112, 0.2));
  background: -moz-linear-gradient(left, rgba(164, 92, 64, 0.2), rgba(195, 131, 112, 0.2));
  background: -ms-linear-gradient(left, rgba(164, 92, 64, 0.2), rgba(195, 131, 112, 0.2));
  background: -o-linear-gradient(left, rgba(164, 92, 64, 0.2), rgba(195, 131, 112, 0.2));
}
.layer-overlay.overlay-theme-colored21-gradient-3::before {
  background: rgba(164, 92, 64, 0.3);
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 92, 64, 0.3)), to(rgba(195, 131, 112, 0.3)));
  background: -webkit-linear-gradient(left, rgba(164, 92, 64, 0.3), rgba(195, 131, 112, 0.3));
  background: -moz-linear-gradient(left, rgba(164, 92, 64, 0.3), rgba(195, 131, 112, 0.3));
  background: -ms-linear-gradient(left, rgba(164, 92, 64, 0.3), rgba(195, 131, 112, 0.3));
  background: -o-linear-gradient(left, rgba(164, 92, 64, 0.3), rgba(195, 131, 112, 0.3));
}
.layer-overlay.overlay-theme-colored21-gradient-4::before {
  background: rgba(164, 92, 64, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 92, 64, 0.4)), to(rgba(195, 131, 112, 0.4)));
  background: -webkit-linear-gradient(left, rgba(164, 92, 64, 0.4), rgba(195, 131, 112, 0.4));
  background: -moz-linear-gradient(left, rgba(164, 92, 64, 0.4), rgba(195, 131, 112, 0.4));
  background: -ms-linear-gradient(left, rgba(164, 92, 64, 0.4), rgba(195, 131, 112, 0.4));
  background: -o-linear-gradient(left, rgba(164, 92, 64, 0.4), rgba(195, 131, 112, 0.4));
}
.layer-overlay.overlay-theme-colored21-gradient-5::before {
  background: rgba(164, 92, 64, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 92, 64, 0.5)), to(rgba(195, 131, 112, 0.5)));
  background: -webkit-linear-gradient(left, rgba(164, 92, 64, 0.5), rgba(195, 131, 112, 0.5));
  background: -moz-linear-gradient(left, rgba(164, 92, 64, 0.5), rgba(195, 131, 112, 0.5));
  background: -ms-linear-gradient(left, rgba(164, 92, 64, 0.5), rgba(195, 131, 112, 0.5));
  background: -o-linear-gradient(left, rgba(164, 92, 64, 0.5), rgba(195, 131, 112, 0.5));
}
.layer-overlay.overlay-theme-colored21-gradient-6::before {
  background: rgba(164, 92, 64, 0.6);
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 92, 64, 0.6)), to(rgba(195, 131, 112, 0.6)));
  background: -webkit-linear-gradient(left, rgba(164, 92, 64, 0.6), rgba(195, 131, 112, 0.6));
  background: -moz-linear-gradient(left, rgba(164, 92, 64, 0.6), rgba(195, 131, 112, 0.6));
  background: -ms-linear-gradient(left, rgba(164, 92, 64, 0.6), rgba(195, 131, 112, 0.6));
  background: -o-linear-gradient(left, rgba(164, 92, 64, 0.6), rgba(195, 131, 112, 0.6));
}
.layer-overlay.overlay-theme-colored21-gradient-7::before {
  background: rgba(164, 92, 64, 0.7);
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 92, 64, 0.7)), to(rgba(195, 131, 112, 0.7)));
  background: -webkit-linear-gradient(left, rgba(164, 92, 64, 0.7), rgba(195, 131, 112, 0.7));
  background: -moz-linear-gradient(left, rgba(164, 92, 64, 0.7), rgba(195, 131, 112, 0.7));
  background: -ms-linear-gradient(left, rgba(164, 92, 64, 0.7), rgba(195, 131, 112, 0.7));
  background: -o-linear-gradient(left, rgba(164, 92, 64, 0.7), rgba(195, 131, 112, 0.7));
}
.layer-overlay.overlay-theme-colored21-gradient-8::before {
  background: rgba(164, 92, 64, 0.8);
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 92, 64, 0.8)), to(rgba(195, 131, 112, 0.8)));
  background: -webkit-linear-gradient(left, rgba(164, 92, 64, 0.8), rgba(195, 131, 112, 0.8));
  background: -moz-linear-gradient(left, rgba(164, 92, 64, 0.8), rgba(195, 131, 112, 0.8));
  background: -ms-linear-gradient(left, rgba(164, 92, 64, 0.8), rgba(195, 131, 112, 0.8));
  background: -o-linear-gradient(left, rgba(164, 92, 64, 0.8), rgba(195, 131, 112, 0.8));
}
.layer-overlay.overlay-theme-colored21-gradient-9::before {
  background: rgba(164, 92, 64, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 92, 64, 0.9)), to(rgba(195, 131, 112, 0.9)));
  background: -webkit-linear-gradient(left, rgba(164, 92, 64, 0.9), rgba(195, 131, 112, 0.9));
  background: -moz-linear-gradient(left, rgba(164, 92, 64, 0.9), rgba(195, 131, 112, 0.9));
  background: -ms-linear-gradient(left, rgba(164, 92, 64, 0.9), rgba(195, 131, 112, 0.9));
  background: -o-linear-gradient(left, rgba(164, 92, 64, 0.9), rgba(195, 131, 112, 0.9));
}
