/*
 * Shortcode: opening-hours.less
 * -----------------------------------------------
*/
.opening-hours ul li {
    border-bottom: 1px solid @gray-aaa;
    font-size: 18px;
    padding: 10px 0;
    margin-bottom: 0 !important;
    &:last-child{
    	border: none;
    }
    span {
	    float: left;
	}
	.value {
	    float: right;
	}
}