/*
 * icon-box.less
 * -----------------------------------------------
*/
.line-bottom-white {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 17px;

	&:after {
		background: @white-base none repeat scroll 0 0;
		bottom: -5px;
		content: "";
		height: 3px;
		left: 0;
		position: absolute;
		width: 60px;
	}
}

.for-boxshadow {
	-webkit-box-shadow: 0 2px 10px 0 rgba(14, 15, 16, 0.1);
	-moz-box-shadow: 0 2px 10px 0 rgba(14, 15, 16, 0.1);
	box-shadow: 0 2px 10px 0 rgba(14, 15, 16, 0.1);
}
