/* @import "icon-box.less"; */
.icon-box-new {
	.transition(all .3s ease);
	&:hover {
	-webkit-box-shadow:  0 10px 5px 0 rgba(14, 15, 16, .1);
	-moz-box-shadow:  0 10px 5px 0 rgba(14, 15, 16, .1);
	box-shadow: 0 10px 5px 0 rgba(14, 15, 16, .1);
	}
}

.service-box {
	margin-bottom: 30px;
	padding: 30px;
	background-color: #fff;
	border-radius: 5px;
	.thumb {
		width: 180px;
		height: 180px;
		margin: 0 auto 30px;
		position: relative;
		&:before {
			content: " ";
			position: absolute;
			border: 10px solid rgba(255, 255, 255, 0.5);
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 100%;
			z-index: 1;
			transition: 0.5s all;
			-webkit-transition:0.5s all;
		}
		img {
			border-radius:100%;
			max-width: 100%;
		}
	}
}

.service-box-hover {
	.transition(all 300ms ease-in-out 0s);
	&:hover { 
		.icon-hov i {
			color: @white-base;
		}
		h4,p {
			color: @white-base;
		}
	}	
}