/* @import "tab.less"; */
.horizontal-tab-centered {	
	.nav-pills > li {
		a {
			font-size: 20px;
			padding: 20px;
			i {
				font-size: 20px;
			}
		}
		&:hover i {
			color: @white-base;
		}
		&.active i {
			color: @white-base;
		}
	}
}
