/* @import "team.less"; */
.info {
	overflow: hidden;
	position: relative;
	.team-info {		
		bottom: -30px;
		position: absolute;
		-webkit-transition: all 300ms ease-in-out 0s;
		-moz-transition: all 300ms ease-in-out 0s;
		-o-transition: all 300ms ease-in-out 0s;
		transition: all 300ms ease-in-out 0s;
		width: 100%;
	}
	&:hover .team-info {
		bottom: 0;
	}
}