/*
 * custom-section-color1.less
 * -----------------------------------------------
*/
.horizontal-tab-centered {	
	.nav-pills > li {
		a {
			i {
				color: @theme-color;
			}
		}
	}
}
.pricing-table {
	border: 10px solid @theme-color;
}
.pricing-icon {
	border: 7px solid @theme-color;
}

.service-box-hover {
	&:hover {		
		background: @theme-color;
	}
	.icon-hov {
		i {
			color: @theme-color;
		}
	}
	.icon-hov {
		&:hover {
			i {
				color: @theme-color;
			}
		}
	}
}